interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://etd.aau.edu.et/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-22T00:00:00Z&until=2015-10-24T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-12-15T17:09:07Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-10-22T00:00:00Z\" until=\"2015-10-24T00:00:00Z\"\
        >http://etd.aau.edu.et/oai/request</request>\n    <ListRecords>\n        <record>\n\
        \            <header>\n                <identifier>oai:10.6.20.92:123456789/8007</identifier>\n\
        \                <datestamp>2015-10-22T08:04:27Z</datestamp>\n           \
        \     <setSpec>com_123456789_3370</setSpec>\n                <setSpec>col_123456789_6034</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Rural women\
        \ land rights in Africa: comparative analysis of Ethiopia with selected African\
        \ countries</dc:title>\n<dc:creator>Bertukan, Tegegn</dc:creator>\n<dc:contributor>Prof.\
        \ Wani Lokitari</dc:contributor>\n<dc:subject>Rural women, Land right</dc:subject>\n\
        <dc:description>This study conducted with the aim of showing status of rural\
        \ women land right in Africa in general with special focus in Ethiopia. It\
        \ addressed the case of Ethiopian rural women by taking the case of rural\
        \ women in Mojana Wodera Woreda, Amhara Regional National State. Thus it posed\
        \ four basic research questions\u1361 how do current Ethiopian land laws positively\
        \ or negatively affect rural women\u201Fs land rights? What land rights do\
      [...]
