interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://calhoun.nps.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-03-10&until=2015-03-11
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-04-24T06:16:41Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-03-10\" until=\"2015-03-11\">http://calhoun.nps.edu/oai/request</request>\n\
        \    <ListRecords>\n        <record>\n            <header>\n             \
        \   <identifier>oai:calhoun.nps.edu:10945/1185</identifier>\n            \
        \    <datestamp>2015-03-10T21:59:23Z</datestamp>\n                <setSpec>com_10945_16</setSpec>\n\
        \                <setSpec>col_10945_17</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Collaborative\
        \ services in an ad hoc wireless network</dc:title>\n<dc:creator>Baalaji,\
        \ Venkateshwaraiyer S.</dc:creator>\n<dc:contributor>Bordetsky, Alex</dc:contributor>\n\
        <dc:contributor>Singh, Gurminder</dc:contributor>\n<dc:contributor>Naval Postgraduate\
        \ School (U.S.).</dc:contributor>\n<dc:contributor>Information Sciences</dc:contributor>\n\
        <dc:description>Approved for public release; distribution is unlimited.</dc:description>\n\
        <dc:description>Wireless networks can be broadly classified into two types\
        \ - infrastructure based networks and ad hoc networks. The former uses fixed\
        \ base stations (infrastructure) which are responsible for coordinating communication\
        \ between the mobile hosts (nodes). These base stations are interconnected\
        \ by wired back bones, where as mobile nodes communicate with the b[...]
