interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://authors.library.caltech.edu/cgi/oai2?verb=ListRecords&metadataPrefix=oai_dc&from=2015-03-10&until=2015-03-11
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type='text/xsl'\
        \ href='/oai2.xsl' ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n  <responseDate>2015-04-24T13:17:11Z</responseDate>\n  <request verb=\"\
        ListRecords\" until=\"2015-03-11\" from=\"2015-03-10\" metadataPrefix=\"oai_dc\"\
        >http://authors.library.caltech.edu/cgi/oai2</request>\n  <ListRecords>\n\
        \    <record>\n    <header>\n      <identifier>oai:authors.library.caltech.edu:14873</identifier>\n\
        \      <datestamp>2015-03-11T19:39:14Z</datestamp>\n      <setSpec>7374617475733D707562</setSpec>\n\
        \      <setSpec>74797065733D61727469636C65</setSpec></header>\n    <metadata>\n\
        \      <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        >\n        <dc:title>The sciences in America, circa 1880</dc:title>\n    \
        \    <dc:creator>Kevles, Daniel J.</dc:creator>\n        <dc:creator>Sturchio,\
        \ Jeffrey L.</dc:creator>\n        <dc:creator>Carroll, P. Thomas</dc:creator>\n\
        \        <dc:description>For many years American science in the late 19th\
        \ century was regarded as an intellectual backwater. This view derived from\
        \ the assumption that the health of American science at the time was equivalent\
        \ to the condition of pure science, especially pure physics. However, a closer\
        \ look reveals that there was considerable vitality in American scientific\
        \ research, especially in the earth and life sciences. This vitality is explainable\
        \ in part by the natural scientific resources of the American continent but\
        \ also in part by the energy given science from religious impulses, social\
        \ reformism, and practicality. Furthermore, contrary to recent assumptions,\
        \ the federal government was a significant patron of American science. The\
        \ portrait of American science circa 1880 advanced in this article suggests\
        \ that the nation's scientific enterprise was characterized by pluralism of\
        \ institutional support and motive and that such pluralism has historically\
        \ been the normal mode.</dc:description>\n        <dc:publisher>American Association\
        \ for the Advancement of Science</dc:publisher>\n        <dc:date>1980-07-04</dc:date>\n\
        \        <dc:type>Article</dc:type>\n        <dc:type>PeerReviewed</dc:type>\n\
        \        <dc:format>application/pdf</dc:format>\n        <dc:identifier>http://authors.library.caltech.edu/14873/1/1684832.pdf</dc:identifier>\n\
        \        <dc:relation>http://resolver.caltech.edu/CaltechAUTHORS:20090807-141212060</dc:relation>\n\
        \        <dc:identifier>  Kevles, Daniel J. and Sturchio, Jeffrey L. and Carroll,\
        \ P. Thomas  (1980)  The sciences in America, circa 1880.  Science, 209  (4552).\
        \   pp. 26-32.  ISSN 0036-8075.      http://resolver.caltech.edu/CaltechAUTHORS:20090807-141212060\
        \ &lt;http://resolver.caltech.edu/CaltechAUTHORS:20090807-141212060&gt;  </dc:identifier>\n\
        \        <dc:relation>h[...]
