interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.repository.cam.ac.uk/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-04T00:00:00Z&until=2015-10-06T00:00:00Z
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet
        type=\"text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-10-06T15:37:06Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2015-10-04T00:00:00Z\"
        until=\"2015-10-06T00:00:00Z\">http://www.repository.cam.ac.uk/oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:dspace-production:1810/219499</identifier>\n
        \               <datestamp>2015-10-05T10:15:26Z</datestamp>\n                <setSpec>com_1810_198272</setSpec>\n
        \               <setSpec>col_1810_219496</setSpec>\n            </header>\n
        \           <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Word Order, Focus,
        and Clause Linking in Greek Tragic Poetry</dc:title>\n<dc:creator>Fraser,
        Bruce L.</dc:creator>\n<dc:subject>historical linguistics</dc:subject>\n<dc:subject>Ancient
        Greek literature</dc:subject>\n<dc:subject>word order</dc:subject>\n<dc:subject>syntax</dc:subject>\n<dc:subject>Greek
        tragedy</dc:subject>\n<dc:subject>complementation</dc:subject>\n<dc:subject>focalisation</dc:subject>\n<dc:subject>clausal
        subordination</dc:subject>\n<dc:subject>comparing poetry and prose</dc:subject>\n<dc:subject>enclitics</dc:subject>\n<dc:subject>topic
        and focus</dc:subject>\n<dc:description>The thesis comprises an investigation
        of three aspects of sentence structure in Classical Greek (henceforth CG)
        dramatic poetry: order of the main sentence elements (subject, verb, and object)
        within the clause, the emphatic position at the start of the clause, and the
        structure of inter-clausal linking. It is argued that these three features,
        usually considered separately, are interdependent, and that intra-clausal
        word order is directly related to the structure of compound and complex sentences.
        \ The discussion undertakes a systematic survey of subject, verb, and object
        order in a corpus of texts,  proposes an explanation for the observed order,
        and develops a model which explains how prominence within the clause is exploited
        in clause linking to produce the complement structures observed in Homeric
        and tragic complementation.</dc:description>\n<dc:description>This work was
        supported by the British Academy and by the Cambridge Faculty of Classics.</dc:description>\n<dc:date>2009-10-13T09:10:26Z</dc:date>\n<dc:date>2009-10-13T09:10:26Z</dc:date>\n<dc:date>1999-11-16</dc:date>\n<dc:type>Thesis</dc:type>\n<dc:type>doctoral</dc:type>\n<dc:type>PhD</dc:type>\n<dc:identifier>http://www.dspace.cam.ac.uk/handle/1810/219499</dc:identifier>\n<dc:language>en</dc:language>\n<dc:publisher>University
        of Cambridge</dc:publisher>\n<dc:publisher>Darwin College</dc:publisher>\n<dc:publisher>Faculty
        of Classics</dc:publisher>\n</oai_dc:dc>\n</metadata>\n        </record>\n
        \       <record>\n            <header>\n                <identifier>oai:dspace-production:1810/246283</identifier>\n
        \               <datestamp>2015-10-05T10:06:19Z</datestamp>\n                <setSpec>com_1810_198272</setSpec>\n
        \               <setSpec>col_1810_198273</setSp[...]
