interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://citeseerx.ist.psu.edu/oai2?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-03&until=2015-10-05
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<OAI-PMH
        xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n
        \ <responseDate>2015-10-07T15:22:28Z</responseDate>\n  <request from=\"2015-10-03\"
        metadataPrefix=\"oai_dc\" until=\"2015-10-05\" verb=\"ListRecords\">http://citeseerx.ist.psu.edu/oai2</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>oai:CiteSeerX.psu:10.1.1.101.3924</identifier>\n
        \       <datestamp>2015-10-05</datestamp>\n      </header>\n      <metadata>\n
        \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \         <dc:title>An improved bound for the monochromatic cycle  partition
        number</dc:title>\n          <dc:creator>Andr\xE1s Gy\xE1rf\xE1s  </dc:creator>\n
        \         <dc:creator>Mikl\xF3s Ruszink\xF3  </dc:creator>\n          <dc:creator>G\xE1bor
        N. S\xE1rk\xF6zy </dc:creator>\n          <dc:creator>Endre Szemer\xE9di  </dc:creator>\n
        \         <dc:subject>Edge colorings</dc:subject>\n          <dc:subject>Monochromatic
        partitions</dc:subject>\n          <dc:subject>Regularity Lemma</dc:subject>\n
        \         <dc:description/>\n          <dc:contributor>The Pennsylvania State
        University CiteSeerX Archives</dc:contributor>\n          <dc:publisher/>\n
        \         <dc:date>2015-10-05</dc:date>\n          <dc:date>2008-04-02</dc:date>\n
        \         <dc:date>2006</dc:date>\n          <dc:format>application/pdf</dc:format>\n
        \         <dc:type>text</dc:type>\n          <dc:identifier>http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.101.3924</dc:identifier>\n
        \         <dc:source>http://www.cs.wpi.edu/~gsarkozy/Cikkek/25.pdf</dc:source>\n
        \         <dc:language>en</dc:language>\n          <dc:rights>Metadata may
        be used without restrictions as long as the oai identifier remains attached
        to it.</dc:rights>\n        </oai_dc:dc>\n      </metadata>\n    </record>\n
        \   <record>\n      <header>\n        <identifier>oai:CiteSeerX.psu:10.1.1.101.6222</identifier>\n
        \       <datestamp>2015-10-05</datestamp>\n      </header>\n      <metadata>\n
        \       <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \         <dc:title>All-Pairs Min-Cut in Sparse Networks</dc:title>\n          <dc:creator>Srinivasa
        R. Arikati</dc:creator>\n          <dc:creator>Shiva Chaudhuri</dc:creator>\n
        \         <dc:creator>Christos D. Zaroliagis</dc:creator>\n          <dc:description>Algorithms
        are presented for the all-pairs min-cut problem in bounded treewidth, planar,
        and sparse networks. The approach used is to preprocess the input n-vertex
        network so that afterward, the value of a min-cut between any two vertices
        can be efficiently computed. A tradeoff is shown between the preprocessing
        time and the time taken to compute min-cuts subsequently. In particular, after
        an Onlog \u017D n. preprocessing of a bounded tree-width ne[...]
