interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://cogprints.org/cgi/oai2?verb=ListRecords&metadataPrefix=oai_dc&from=2015-04-19&until=2015-04-20
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type='text/xsl'\
        \ href='/oai2.xsl' ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n  <responseDate>2015-04-24T14:09:44Z</responseDate>\n  <request verb=\"\
        ListRecords\" until=\"2015-04-20\" from=\"2015-04-19\" metadataPrefix=\"oai_dc\"\
        >http://cogprints.org/cgi/oai2</request>\n  <ListRecords>\n    <record>\n\
        \    <header>\n      <identifier>oai:cogprints.org:9686</identifier>\n   \
        \   <datestamp>2015-04-20T11:45:42Z</datestamp>\n      <setSpec>7374617475733D707562</setSpec>\n\
        \      <setSpec>7375626A656374733D6E6575726F:6E6575726F2D6E6575</setSpec>\n\
        \      <setSpec>74797065733D6A6F75726E616C65</setSpec></header>\n    <metadata>\n\
        \      <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        >\n        <dc:title>Two families with quadrupedalism, mental retardation,\
        \ no&#13;\nspeech, and infantile hypotonia (Uner Tan Syndrome&#13;\nType-II);\
        \ a novel theory for the evolutionary emergence of&#13;\nhuman bipedalism</dc:title>\n\
        \        <dc:creator>Tan, Prof. Dr. Uner</dc:creator>\n        <dc:subject>Neurology</dc:subject>\n\
        \        <dc:description>Two consanguineous families with Uner Tan Syndrome\
        \ (UTS) were analyzed in relation to self-organizing processes in complex\
        \ systems, and the evolutionary emergence of human&#13;\nbipedalism. The cases\
        \ had the key symptoms of previously reported cases of UTS, such as quadrupedalism,\
        \ mental retardation, and dysarthric or no speech, but the new cases&#13;\n\
        also exhibited infantile hypotonia and are designated UTS Type-II. There were\
        \ 10[...]
