interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://academiccommons.columbia.edu/catalog/oai?verb=ListRecords&metadataPrefix=oai_dc&from=2015-03-10T00:00:00Z&until=2015-03-11T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<?xml-stylesheet\
        \ type=\"text/xsl\" href=\"/assets/oai2.xsl\" ?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-04-24T13:19:35Z</responseDate><request>http://academiccommons.columbia.edu/catalog/oai</request><ListRecords><record><header><identifier>academiccommons.columbia.edu/ac:184350</identifier><datestamp>2015-03-10T00:00:00Z</datestamp></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"\
        http://purl.org/dc/elements/1.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"\
        ><dc:title>Partial Identification of Finite Mixtures in Econometric Models</dc:title><dc:creator>Henry,\
        \ Marc</dc:creator><dc:creator>Kitamura, Yuichi</dc:creator><dc:creator>Salanie,\
        \ Bernard</dc:creator><dc:date>2014</dc:date><dc:type>text</dc:type><dc:subject>Economics</dc:subject><dc:subject>Economic\
        \ theory</dc:subject><dc:identifier>http://dx.doi.org/10.7916/D8959GD4</dc:identifier><dc:description>We\
        \ consider partial identification of finite mixture models in the presence\
        \ of an observable source of variation in the mixture weights that leaves\
        \ component distributions unchanged, as is the case in large classes of econometric\
        \ models. We first show that when the number J of component distributions\
        \ is known a priori, the family of mixture models compatible with the data\
        \ is a subset of a J(J1)-dimensional space. When the outcome variable is continuous,\
        \ this subset is defined by linear constraints, which we characterize exactly.\
        \ Our identifying assumption has testable implications, which we spell out\
        \ for J=2. We also extend our results to the case when the analyst does not\
        \ know the true number of component distributions and to models with discrete\
        \ outcomes. Keywords. Partial identification, finite mixture models. JEL classification.\
        \ C24.</dc:description><dc:language>English</dc:language></oai_dc:dc></metadata></record><record><header><identifier>academiccommons.columbia.edu/ac:184181</identifier><datestamp>2015-03-10T00:00:00Z</datestamp></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"\
        http://purl.org/dc/elements/1.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0[...]
