interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.crossref.org/v1/works?filter=from-pub-date:2010-12-25,until-pub-date:2010-12-25&rows=0&offset=0
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":0,"items":[],"total-results":524,"facets":{}}}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.crossref.org/v1/works?filter=from-pub-date:2010-12-25,until-pub-date:2010-12-25&rows=1000&offset=0
  response:
    body: {string: !!python/unicode '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1000,"items":[{"subtitle":[],"subject":["Hematology"],"issued":{"date-parts":[[2010,12,25]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"family":"Kobayashi","given":"Hiroshi"},{"family":"Ichikawa","given":"Motoshi"},{"family":"Hangaishi","given":"Akira"},{"family":"Imai","given":"Yoichi"},{"family":"Kurokawa","given":"Mineo"}],"container-title":["International
        Journal of Hematology","Int J Hematol"],"reference-count":21,"page":"112-117","deposited":{"date-parts":[[2013,4,12]],"timestamp":1365724800000},"issue":"1","title":["Concurrent
        development of \u201cBurkitt-like\u201d lymphoma and BCL-2-rearranged low-grade
        B cell lymphoma sharing the same germinal center origin"],"type":"journal-article","DOI":"10.1007\/s12185-010-0741-3","ISSN":["0925-5710","1865-3774"],"URL":"http:\/\/dx.doi.org\/10.1007\/s12185-010-0741-3","source":"CrossRef","publisher":"Springer
        Science + Business Media","indexed":{"date-parts":[[2015,2,10]],"timestamp":1423566482414},"volume":"93","member":"http:\/\/id.crossref.org\/member\/297"},{"subtitle":[],"subject":["Hematology"],"issued":{"date-parts":[[2010,12,25]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"family":"Nakamura","given":"Yukio"},{"family":"Hiroyama","given":"Takashi"},{"family":"Miharada","given":"Kenichi"},{"family":"Kurita","given":"Ryo"}],"container-title":["International
        Journal of Hematology","Int J Hematol"],"reference-count":37,"page":"5-9","deposited":{"date-parts":[[2013,4,1[...]
