interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://dailyssrn.com/rss/rss-all-2.0.xml
  response:
    body: {string: !!python/unicode '<rss version="2.0"><channel><title>DailySSRN
        - All</title><link>dailyssrn.com</link><description>Summary of new papers
        published on SSRN over last 5 days.</description><item><title>Hub-urile analitice
        &#238;n intelligence - platforme colaborative pentru promovarea interesului
        na&#539;ional (Analytical Hubs in Intelligence -  Collaborative Platforms
        for Promoting the National Interest)</title><link>http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2619167</link><description>Romanian
        Abstract: &#206;n ultimii aproximativ 15 ani, necesitatea punerii &#238;n
        comun a cunoa&#537;terii din mai multe zone de expertiz&#259; a plasat centrele
        de fuziune care desf&#259;&#537;oar&#259; analiza &#351;i evaluarea &#238;n
        domenii specifice de activitate &#238;n aten&#539;ia planific&#259;rilor &#537;i
        viziunilor strategice ale organiza&#539;iilor de intelligence. Implicarea
        mediului academic, a universit&#259;&#539;ilor, a centrelor de cercetare,
        pr[...]
