interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cn.dataone.org/cn/v1/query/solr/?start=0&q=dateModified:%5B2016-03-16T00:00:00Z+TO+2016-03-18T00:00:00Z%5D&rows=1
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n<lst name=\"\
        responseHeader\"><int name=\"status\">0</int><int name=\"QTime\">26</int><lst\
        \ name=\"params\"><str name=\"start\">0</str><str name=\"q\">dateModified:[2016-03-16T00:00:00Z\
        \ TO 2016-03-18T00:00:00Z]</str><str name=\"rows\">1</str></lst></lst><result\
        \ name=\"response\" numFound=\"548\" start=\"0\"><doc><str name=\"id\">http://dx.doi.org/10.5061/dryad.rr85h?ver=2016-03-17T17:24:04.881-04:00</str><str\
        \ name=\"identifier\">http://dx.doi.org/10.5061/dryad.rr85h?ver=2016-03-17T17:24:04.881-04:00</str><str\
        \ name=\"formatId\">http://datadryad.org/profile/v3.1</str><str name=\"formatType\"\
        >METADATA</str><long name=\"size\">3074</long><str name=\"checksum\">d5e8dc277729a348a9a6ce327df5c681</str><str\
        \ name=\"submitter\">sywong@unimas.my</str><str name=\"checksumAlgorithm\"\
        >MD5</str><str name=\"rightsHolder\">admin@datadryad.org</str><bool name=\"\
        replicationAllowed\">false</bool><date name=\"dateUploaded\">2016-02-19T00:07:57Z</date><date\
        \ name=\"updateDate\">2016-02-19T00:07:57Z</date><date name=\"dateModified\"\
        >2016-03-17T21:24:04.881Z</date><str name=\"datasource\">urn:node:DRYAD</str><str\
        \ name=\"authoritativeMN\">urn:node:DRYAD</str><arr name=\"replicaMN\"><str>urn:node:DRYAD</str><str>urn:node:CN</str></arr><arr\
        \ name=\"replicaVerifiedDate\"><date>2016-03-17T21:27:12.776Z</date><date>2016-03-17T21:27:12.785Z</date></arr><arr\
        \ name=\"readPermission\"><str>public</str></arr><bool name=\"isPublic\">true</bool><str\
        \ name=\"dataUrl\">https://cn.dataone.org/cn/v2/resolve/http%3A%2F%2Fdx.doi.org%2F10.5061%2Fdryad.rr85h%3Fver%3D2016-03-17T17%3A24%3A04.881-04%3A00</str><str\
        \ name=\"abstract\">Prev[...]
[...]
