interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cn.dataone.org:443/cn/v1/query/solr/?q=dateModified%3A%5B2015-03-24T00%3A00%3A00Z+TO+2015-03-25T00%3A00%3A00Z%5D&start=0&rows=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <response>

        <lst name="responseHeader"><int name="status">0</int><int name="QTime">77</int><lst
        name="params"><str name="start">0</str><str name="q">dateModified:[2015-03-24T00:00:00Z
        TO 2015-03-25T00:00:00Z]</str><str name="rows">1</str></lst></lst><result
        name="response" numFound="182" start="0"><doc><str name="abstract">Table of
        300 observations and 109 variables. Variables (columns) 1 to 4 = Year, treatment,
        replicate number, soil moisture. variables 5 to 104 = species abundances.
        variables 105 to 109 = accumulated plant functional type abundances</str><str
        name="author">Saccone, Patrick</str><str name="authorGivenName">Patrick</str><str
        name="authorSurName">Saccone</str><str name="authoritativeMN">urn:node:DRYAD</str><str
        name="checksum">dcf7a777822fe345f86765618d0278b2</str><str name="checksumAlgorithm">MD5</str><str
        name="dataUrl">https://cn.dataone.org/cn/v1/resolve/http%3A%2F%2Fdx.doi.org%2F10.5061%2Fdryad.8r6m4%2F1%3Fver%3D2015-03-24T13%3A52%3A15.870-04%3A00</str><str
        name="datasource">urn:node:DRYAD</str><date name="dateModified">2015-03-24T17:54:13.958Z</date><date
        name="datePublished">2015-03-24T17:52:12Z</date><date name="dateUploaded">2015-03-24T17:52:12Z</date><str
        name="fileID">https://cn.dataone.org/cn/v1/resolve/http%3A%2F%2Fdx.doi.org%2F10.5061%2Fdryad.8r6m4%2F1%3Fver%3D2015-03-24T13%3A52%3A15.870-04%3A00</str><str
        name="formatId">http://datadryad.org/profile/v3.1</str><str name="formatType">METADATA</str><str
        name="id">http://dx.doi.org/10.5061/dryad.8r6m4/1?ver=2015-03-24T13:52:15.870-04:00</str><str
        name="identifier">http://dx.doi.org/10.5061/dryad.8r6m4/1?ver=2015-03-24T13:52:15.870-04:00</str><arr
        name="investigator"><str>Saccone, Patrick</str><str>Virtanen, Risto</str></arr><arr
        name="isDocumentedBy"><str>http://dx.doi.org/10.5061/dryad.8r6m4?ver=2015-03-24T13:52:12.701-04:00</str><str>http://dx.doi.org/10.5061/dryad.8r6m4?ver=2015-04-07T20:09:04.336-04:00</str></arr><bool
        name="isPublic">true</bool><arr name="keywords"><str>Markov model</str><str>Multiple
        drivers</str><str>Plant community dynamics</str></arr><arr name="origin"><str>Saccone,
        Patrick</str><str>Virtanen, Risto</str></arr><date name="pubDate">2015-03-24T17:52:12Z</date><arr
        name="readPermission"><str>public</str></arr><arr name="replicaMN"><str>urn:node:DRYAD</str><str>urn:node:CN</str></arr><arr
        name="replicaVerifiedDate"><date>2015-03-24T17:54:12.47Z</date><date>2015-03-24T17:54:12.532Z</date></arr><bool
        name="replicationAllowed">false</bool><arr name="resourceMap"><str>http://dx.doi.org/10.5061/dryad.8r6m4?format=d1rem&amp;ver=2015-03-24T13:52:12.701-04:00</str><str>http://dx.doi.org/10.5061/dryad.8r6m4?format=d1rem&amp;ver=2015-04-07T20:09:04.336-04:00</str></arr><str
        name="rightsHolder">admin@datadryad.org</str><arr name="site"><str>Northern
        fennoscandia</str></arr><long name="size">1755</long><str name="sku">http://dx.doi.org/10.5061/dryad.8r6m4/1?ver=2015-03-24T13:52:15.870-04:00</str><str
        name="submitter">patrick.saccone@gmail.com</str><str name="title">SacconeVirtanen-Oikos-02399-Plant-Composition</str><date
        name="updateDate">2015-03-24T17:52:12Z</date></doc></result>

        </response>

        '}
    headers:
      content-type: [application/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
