interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.osti.gov/pages/pagesxml?nrows=1&EntryDateFrom=03/10/2015&EntryDateTo=03/11/2015
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rdf:RDF xmlns:rdf=\"\
        http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xmlns:dcq=\"http://purl.org/dc/terms/\"><records count=\"4\" morepages=\"\
        true\" start=\"1\" end=\"1\"><record rownumber=\"1\"><dc:title>Reliable Energy\
        \ Level Alignment at Physisorbed Molecule\u2013Metal Interfaces from Density\
        \ Functional Theory</dc:title><dc:creator>Egger, David A. Email: egger@ergger.egger, (ORCID: 123123123123) [The suburbs]; Liu, Zhen-Fei;\
        \ Neaton, Jeffrey B.; Kronik, Leeor</dc:creator><dc:subject/><dc:subjectRelated/><dc:description/><dcq:publisher>American\
        \ Chemical Society</dcq:publisher><dcq:publisherAvailability/><dcq:publisherResearch>None</dcq:publisherResearch><dcq:publisherSponsor>USDOE\
        \ Office of Science (SC), Basic Energy Sciences (BES) (SC-22)</dcq:publisherSponsor><dcq:publisherCountry>United\
        \ States</dcq:publisherCountry><dc:date>2015-04-08</dc:date><dc:language>English</dc:language><dc:type>Journal\
        \ Article</dc:type><dcq:typeQualifier/><dc:relation>Journal Name: Nano Letters;\
        \ Journal Volume: 15; Journal Issue: 4</dc:relation><dc:coverage/><dc:format>Medium:\
        \ X; Size: Pages 2448 to 2455</dc:format><dc:identifier>OSTI ID: 1172172,\
        \ Legacy ID: OSTI ID: 1172172</dc:identifier><dc:identifierReport>None</dc:identifierReport><dcq:identifierDOEcontract>J3608-N20;\
        \ AC02-05CH11231</dcq:identifierDOEcontract><dc:identifierOther>Journal ID:\
        \ ISSN 1530-6984</dc:identifierOther><dc:doi>10.1021/nl504863r</dc:doi><dc:rights/><dc:dateEntry>2015-04-10</dc:dateEntry><dc:dateAdded>2015-03-11</dc:dateAdded><dc:ostiId>1172172</dc:ostiId><dcq:identifier-purl\
        \ type=\"\"/><dcq:identifier-citation>http://www.osti.gov/pages/biblio/1172172</dcq:identifier-citation></record></records></rdf:RDF>"}
    headers:
      content-type: [application/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
