interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://oai.erudit.org/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-27T00:00:00Z&until=2015-10-29T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"\
        http://www.openarchives.org/OAI/2.0/\"\n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/\n   \
        \                          http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n  <responseDate>2015-11-17T15:24:14Z</responseDate>\n  <request verb=\"\
        ListRecords\" from=\"2015-10-27T00:00:00Z\" until=\"2015-10-29T00:00:00Z\"\
        \ metadataPrefix=\"oai_dc\">http://oai.erudit.org/oaiproviderpublic/request</request>\n\
        <ListRecords>\n<record>\n  <header>\n    <identifier>oai:erudit.org:1033512ar</identifier>\n\
        \    <datestamp>2015-10-27T23:42:02Z</datestamp>\n    <setSpec>erudit.revue.cuizine</setSpec>\n\
        \  </header>\n  <metadata>\n<oai_dc:dc xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \n           xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\n\
        \           xmlns:sch=\"http://www.erudit.org/xsd/article\"\n           xmlns:dc=\"\
        http://purl.org/dc/elements/1.1/\"\n           xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n   <dc:title>The Urban\
        \ Homesteading Cookbook. Michelle Catherine Nelson, Douglas &amp; McIntyre,\
        \ 2015, 256 p. </dc:title>\n   <dc:creator>B\xE9gin, Luna</dc:creator>\n \
        \  <dc:date>2015</dc:date>\n   <dc:relation>Cuizine : The Journal of Canadian\
        \ Food Cultures ; vol. 6 no. 2 (2015)</dc:relation>\n   <dc:publisher>McGill\
        \ University Library</dc:publisher>\n   <dc:publisher>\xC9rudit</dc:publisher>\n\
        \   <dc:identifier>http://id.erudit.org/iderudit/1033512ar</dc:identifier>\n\
        \   <dc:identifier>doi:10.7202/1033512ar</dc:identifier>\n   <dc:language>fr</dc:language>\n\
        \   <dc:type>text</dc:type>\n   <dc:rights>All Rights Reserved \xA9 Cuizine:\
        \ The Journal of Canadian Food Cultures / Cuizine : revue des cultures culinaires\
        \ au Canada, 2015</dc:rights>\n</oai_dc:dc>\n  </metadata>\n</record>\n<record>\n\
        \  <header>\n    <identifier>oai:erudit.org:1033633ar</identifier>\n    <datestamp>2015-10-27T23:42:02Z</datestamp>\n\
        \    <setSpec>erudit.revue.haf</setSpec>\n  </header>\n  <metadata>\n<oai_dc:dc\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n[...]
