interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://biblio.ugent.be/oai?verb=ListRecords&metadataPrefix=oai_dc&from=2015-05-25T00:00:00Z&until=2015-05-27T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"\
        http://www.openarchives.org/OAI/2.0/\"\n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n<responseDate>2015-11-12T18:43:44Z</responseDate>\n<request from=\"2015-05-25T00:00:00Z\"\
        \ metadataPrefix=\"oai_dc\" until=\"2015-05-27T00:00:00Z\" verb=\"ListRecords\"\
        >https://biblio.ugent.be/oai/%3F</request>\n\n<ListRecords>\n<record>\n<header>\n\
        \    <identifier>oai:archive.ugent.be:5946397</identifier>\n    <datestamp>2015-05-26T11:10:17Z</datestamp>\n\
        \    <setSpec>misc</setSpec>\n</header>\n\n<metadata>\n<oai_dc:dc xmlns=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\"\n           xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\"\n           xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \n           xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n   \
        \        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n    <dc:title>Shifts\
        \ and continuity in the Belgian film control system</dc:title>\n    <dc:creator>Biltereyst,\
        \ Dani\xEBl</dc:creator>\n    <dc:subject>Social Sciences</dc:subject>\n \
        \   <dc:subject>cinema</dc:subject>\n    <dc:subject>Film</dc:subject>\n \
        \   <dc:subject>censorship</dc:subject>\n    <dc:subject>Belgian film control\
        \ system</dc:subject>\n    <dc:description>Article on the shifts and continuity\
        \ in the Belgian film control system, within a European context.</dc:description>\n\
        \    <dc:publisher>Cineteca Nazionale</dc:publisher>\n    <dc:date>2015</dc:date>\n\
        \    <dc:type>misc</dc:type>\n    <dc:type>info:eu-repo/semantics/other</dc:type>\n\
        \    <dc:type>info:eu-repo/semantics/publishedVersion</dc:type>\n    <dc:identifier>https://biblio.ugent.be/publication/5946397</dc:identifier>\n\
        \    <dc:identifier>http://hdl.handle.net/1854/LU-5946397</dc:identifier>\n\
        \    <dc:source>Forbidden Cinema</dc:source>\n    <dc:language>eng</dc:language>\n\
        </oai_dc:dc>\n</metadata>\n</record>\n<record>\n<header>\n    <identifier>oai:archive.ugent.be:5963889</identifier>\n\
        \    <datestamp>2015-05-26T08:52:41Z</datestamp>\n    <setSpec>dissertation</setSpec>\n\
        </header>\n\n<metadata>\n<oai_dc:dc xmlns=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \n           xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\n\
        \           xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n    [...]
