interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=*&type=dataset&per_page=1000&key=259d801c-6951-4841-bb32-5968faa41b45&sort=date&order=asc&fq=dateSort:%5B2010-12-19T00:00:00Z+TO+2010-12-21T00:00:00Z%5D
  response:
    body: {string: "{\"status\":\"OK\",\"data\":{\"q\":\"*\",\"total_count\":77,\"start\":0,\"spelling_alternatives\":{},\"items\":[{\"name\":\"Towards
        an Objective Account of Nutrition and Health in Colonial Kenya: A Study of
        Stature in African Army Recruits and Civilians, 1880\u20131980\",\"type\":\"dataset\",\"url\":\"http://hdl.handle.net/1902.1/15415\",\"image_url\":\"https://dataverse.harvard.edu/api/access/dsCardImage/44679\",\"global_id\":\"hdl:1902.1/15415\",\"description\":\"How
        well did Kenyans do under colonial rule? It is common sense that Kenyans suffered
        under exploitative colonial policies. The overall impact, however, is uncertain.
        This study presents fresh evidence on nutrition and health in colonial Kenya
        by (1) using a new and comprehensive data set of African army recruits and
        civilians and (2) applying a powerful measure of nutritional status: mean
        population height. Findings demonstrate huge regional inequalities but only
        minor changes in the mean height of cohorts born 20 years before and after
        colonisation. From 1920 onwards secular improvements took place which continued
        after Independence. It can be concluded that however bad colonial policies
        and devastating short term crises were, the net outcome of colonial times
        was a significant progress in nutrition and health.\",\"published_at\":\"2010-12-20T00:00:00Z\",\"citation\":\"Alexander
        Moradi, 2010, \\\"Towards an Objective Account of Nutrition and Health in
        Colonial Kenya: A Study of Stature in African Army Recruits and Civilians,
        1880\u20131980\\\", <a href=\\\"http://hdl.handle.net/1902.1/15415\\\">http://hdl.handle.net/1902.1/15415</a>,
        \ Harvard Dataverse,  V1\",\"authors\":[\"Alexander Moradi\"]},{\"name\":\"NBC/MSNBC/Telemundo
        Poll: Immigration\",\"type\":\"dataset\",\"url\":\"http://hdl.handle.net/1902.4/USNBC2010-10336\",\"image_url\":\"https://dataverse.harvard.edu/api/access/dsCardImage/21732\",\"global_id\":\"hdl:1902.4/USNBC2010-10336\",\"description\":\"This
        survey covers the following issues and topics: Barack Obama job performance
        (1); Obama handling immigration (1); rating public figures (6); Congressional
        election preference (1); Elena Kagan election as Supreme Court justice (1);
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=*&type=dataset&per_page=1000&key=259d801c-6951-4841-bb32-5968faa41b45&sort=date&order=asc&fq=dateSort:%5B2010-12-19T00:00:00Z+TO+2010-12-21T00:00:00Z%5D&start=0
  response:
    body: {string: "{\"status\":\"OK\",\"data\":{\"q\":\"*\",\"total_count\":77,\"start\":0,\"spelling_alternatives\":{},\"items\":[{\"name\":\"Towards
        an Objective Account of Nutrition and Health in Colonia[...]
