interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=bird&type=dataset&per_page=20&key=7b96391a-0564-4a3d-aa42-b3065cceb841&start=0
  response:
    body: {string: "{\"status\":\"OK\",\"data\":{\"q\":\"bird\",\"total_count\":100,\"\
        start\":0,\"spelling_alternatives\":{},\"items\":[{\"name\":\"Birds\",\"type\"\
        :\"dataset\",\"url\":\"http://hdl.handle.net/1902.1/20008\",\"image_url\"\
        :\"https://dataverse.harvard.edu/api/access/dsCardImage/55277\",\"global_id\"\
        :\"hdl:1902.1/20008\",\"published_at\":\"2013-09-12T00:00:00Z\",\"citation\"\
        :\"Independent Consultant, 2013, \\\"Birds\\\", <a href=\\\"http://hdl.handle.net/1902.1/20008\\\
        \">http://hdl.handle.net/1902.1/20008</a>,  Harvard Dataverse,  V1\"},{\"\
        name\":\"Monitoring Ecosystem Sevices - Bird biodiversity\",\"type\":\"dataset\"\
        ,\"url\":\"http://hdl.handle.net/1902.1/20384\",\"image_url\":\"https://dataverse.harvard.edu/api/access/dsCardImage/45379\"\
        ,\"global_id\":\"hdl:1902.1/20384\",\"description\":\"Between 2003 and 2006\
        \ different taxa were collected, in two complete periods of bird monitoring\
        \ in each country.We developed a methodology to construct indexes to evaluate\
        \ biodiversity in each of the land uses included in the study. The focus was\
        \ to understand the role of silvopastoral systems to conserve bird diversity.\
        \ 111 Bird species were observed in Matiguas Nicaragua.\",\"published_at\"\
        :\"2013-02-22T00:00:00Z\",\"citation\":\"Mijail Perez; Elias Ramirez; Joel\
        \ S\xE1enz; Muhammad Ibrahim, 2013, \\\"Monitoring Ecosystem Sevices - Bird\
        \ biodiversity\\\", <a href=\\\"http://hdl.handle.net/1902.1/20384\\\">http://hdl.handle.net/1902.1/20384</a>,\
        \  Harvard Dataverse,  V2\",\"authors\":[\"Mijail Perez\",\"Elias Ramirez\"\
        ,\"Joel S\xE1enz\",\"Muhammad Ibrahim\"]},{\"name\":\"North American Breeding\
        \ Bird Survey\",\"type\":\"dataset\",\"url\":\"http://hdl.handle.net/1902.5/573091\"\
        ,\"image_url\":\"https://dataverse.harvard.edu/api/access/dsCardImage/11350\"\
        ,\"global_id\":\"hdl:1902.5/573091\",\"description\":\"The Patuxent Wildlife\
        \ Research Center coordinated collection of the North American Breeding Bird\
        \ Survey (BBS) [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=bird&type=dataset&per_page=20&key=7b96391a-0564-4a3d-aa42-b3065cceb841&start=40
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"bird","total_count":100,"start":40,"spelling_alternatives":{},"items":[{"name":"Census
        of Agriculture, 2001 [Canada] [Excel files]","type":"dataset","url":"http://hdl.handle.net/1902.5/AGCENSUS_95F0354_E_2001_XLS","image_url":"https://dataverse.harvard.edu/api/access/dsCardImage/4730","global_id":"hdl:1902.5/AGCENSUS_95F0354_E_2001_XLS","description":"In
        2001, a census farm was defined as an agricultural operation that produces
        at least one of the following products intended for sale: crops (hay, field
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=bird&type=dataset&per_page=20&key=7b96391a-0564-4a3d-aa42-b3065cceb841&start=60
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"bird","total_count":100,"start":60,"spelling_alternatives":{},"items":[{"name":"House
        Unpassed Legislation 1848, Docket 2122, SC1/series 230, Petition of Elbridge
        Sprague","type":"dataset","url":"http://dx.doi.org/10.7910/DVN/FA89R","image_url":"https://dataverse.harvard.edu/api/access/dsCardImage/71813","global_id":"doi:10.7910/DVN/FA89R","description":"Petition
        subject: Secession from the Union Original: http://nrs.harvard.edu/urn-3:FHCL:11029639
        Date of creation: (unknown) Petition location: Abington Legislator, committee,
        or address that the petition was sent to: Francis W. Bird, Walpole; committee
        on the judiciary Selected signatures: Elbridge Sprague Betsey Sprague Josiah
        Cushing Actions taken on dates: 1848-02-10 Legislative action: Received in
        the House on February 10, 1848 and referred to the committee on the judi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=bird&type=dataset&per_page=20&key=7b96391a-0564-4a3d-aa42-b3065cceb841&start=100
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"bird","total_count":100,"start":100,"spelling_alternatives":{},"items":[],"count_in_response":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dataverse.harvard.edu:443/api/search/?q=bird&type=dataset&per_page=20&key=7b96391a-0564-4a3d-aa42-b3065cceb841&start=4660
  response:
    body: {string: !!python/unicode '{"status":"OK","data":{"q":"bird","total_count":100,"start":4660,"spelling_alternatives":{},"items":[],"count_in_response":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
