interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://commons.lib.niu.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-08-02T00:00:00Z&until=2015-08-04T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-10-20T18:22:39.000Z</responseDate><request
        verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2015-08-02T00:00:00Z\"
        until=\"2015-08-04T00:00:00Z\">http://commons.lib.niu.edu/oai/request</request><ListRecords><record><header><identifier>oai:commons.lib.niu.edu:10843/13671</identifier><datestamp>2015-08-03T16:10:30Z</datestamp><setSpec>com_10843_13612</setSpec><setSpec>col_10843_13613</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Preliminary
        Survey of Northern Illinois Small-Scale Farmers</dc:title>\n<dc:creator>Knetsch,
        Emily</dc:creator>\n<dc:contributor>McKee, Emily</dc:contributor>\n<dc:contributor>School
        of Allied Health and Communicative Disorders</dc:contributor>\n<dc:subject>Northern
        Illinois</dc:subject>\n<dc:subject>small scale farmers</dc:subject>\n<dc:subject>financial
        stability</dc:subject>\n<dc:description>The study, a preliminary survey of
        northern Illinois small-scale farmers, directed by Dr. Emily McKee aims to
        create a profile of farmers in the region. The profile will serve as the preliminary
        stage of developing a larger ethnographic research project of self-described
        \u201Csmall-scale\u201D and \u201Calternative farmers:\u201D in northern Illinois.
        Using an inductive approach, the current study gathers and examines information
        about the methods of agriculture that are being used, and the social profile
        the farmers use to describe themselves. To gather information, the research
        assistant, Emily Knetsch, has collected data about farmers from the internet
        and compiled a list of over 400 farmers in the northern Illinois area; from
        that list, farmers have been contacted by phone and surveyed using an open
        ended questionnaire. Internet research, and phone surveys have gathered information
        such as the number of acres farmed, types of crops produced, and the generation
        of farmer. These data are being condensed, sorted and analyzed for cross-variable
        correlations. The poster presentation for URAD will described the research
        design and procedures, as well as preliminary analysis.</dc:description>\n<dc:description>B.S.
        (Bachelor of Science)</dc:description>\n<dc:date>2015-05-12T00:52:29Z</dc:date>\n<dc:date>2015-05-12T00:52:29Z</dc:date>\n<dc:date>2015-04-12</dc:date>\n<dc:type>Image</dc:type>\n<dc:type>Text</dc:type>\n<dc:type>Conference
        Poster</dc:type>\n<dc:identifier>http://hdl.handle.net/10843/13671</dc:identifier>\n<dc:language>en_US</dc:language>\n<dc:rights>NIU
        theses are protected by copyright. They may be viewed from Huskie Commons
        for any purpose, but reproduction or distribution in any format is prohibited
        without the written permission of the authors.</dc:rights>\n<dc:format>1 Poster</dc:format>\n<dc:publisher>Northern
        Illinois University</dc:publisher>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:commons.lib.niu.edu:10843/13706</identifier><datestamp>2015-08-03T16:10:30Z</datestamp><setSpec>com_10843_13612</setSpec><setSpec>col_10843_13613</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Family
        Matters: The Effects of CEO Parental Status in Family Firms</dc:title>\n<dc:creator>Anglin,
        Lauren</dc:creator>\n<dc:contributor>Yore, Adam</dc:contributor>\n<dc:contributor>Nicolosi,
        Gina</dc:contributor>\n<dc:contributor>Department of Finance</dc:contributor>\n<dc:subject>CEO</dc:subject>\n<dc:subject>parental
        status</dc:subject>\n<dc:subject>family firms</dc:subject>\n<dc:description>The
        purpose of this study is to examine whether the personal characteristics of
      [...]
