interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.icpsr.umich.edu/icpsrweb/ICPSR/oai/studies?verb=ListRecords&metadataPrefix=oai_dc&from=2007-12-19&until=2007-12-21
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<OAI-PMH
        xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n
        \ <responseDate>2015-07-17T15:50:41.109-04:00</responseDate>\n  <request verb=\"ListRecords\">http://www.icpsr.umich.edu/icpsrweb/ICPSR/oai/studies</request>\n
        \ <ListRecords>\n    <record>\n      <header>\n        <identifier>2492</identifier>\n
        \       <datestamp>2007-12-20T01:01:01Z</datestamp>\n      </header>\n      <metadata>\n
        \       <oai_dc:dc xmlns=\"\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n          <dc:title>ABC
        News/Washington Post Race and Crime Poll, June 1997</dc:title>\n          <dc:creator>ABC
        News</dc:creator>\n          <dc:creator>The Washington Post</dc:creator>\n
        \         <dc:subject>Clinton Administration (1993-2001)</dc:subject>\n          <dc:subject>Clinton,
        Bill</dc:subject>\n          <dc:subject>colleges</dc:subject>\n          <dc:subject>crime</dc:subject>\n
        \         <dc:subject>crime rates</dc:subject>\n          <dc:subject>discrimination</dc:subject>\n
        \         <dc:subject>entertainment industry</dc:subject>\n          <dc:subject>fear
        of crime</dc:subject>\n          <dc:subject>minorities</dc:subject>\n          <dc:subject>presidency</dc:subject>\n
        \         <dc:subject>presidential performance</dc:subject>\n          <dc:subject>public
        opinion</dc:subject>\n          <dc:subject>public safety</dc:subject>\n          <dc:subject>race
        relations</dc:subject>\n          <dc:description>This special topic poll
        sought respondents' views on the presidency, crime in the United States, and
        race relations. Respondents were asked for their opinions on President Bill
        Clinton and his handling of the presidency and race relations, whether he
        had a clear vision for the country, whether he was honest and in possession
        of moral and ethical standards, whether he was innovative and committed to
        his beliefs, and whether he understood the needs o[...]
