interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scholarworks.iu.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-04-13T00:00:00Z&until=2016-04-15T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-04-15T09:29:05Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-04-13T00:00:00Z\" until=\"2016-04-15T00:00:00Z\"\
        >https://scholarworks.iu.edu/dspace-oai/request</request>\n    <ListRecords>\n\
        \        <record>\n            <header>\n                <identifier>oai:scholarworks.iu.edu:2022/20801</identifier>\n\
        \                <datestamp>2016-04-13T11:30:17Z</datestamp>\n           \
        \     <setSpec>com_2022_20799</setSpec>\n                <setSpec>col_2022_20800</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>A TEST</dc:title>\n\
        <dc:creator>Halliday, Jim</dc:creator>\n<dc:date>2016-04-12T19:00:06Z</dc:date>\n\
        <dc:date>2016-04-12T19:00:06Z</dc:date>\n<dc:type>Book</dc:type>\n<dc:identifier>http://hdl.handle.net/2022/20801</dc:identifier>\n\
        <dc:language>en_US</dc:language>\n</oai_dc:dc>\n</metadata>\n        </record>\n\
        \        <record>\n            <header>\n                <identifier>oai:scholarworks.iu.edu:2022/20802</identifier>\n\
        \                <datestamp>2016-04-14T13:04:11Z</datestamp>\n           \
        \     <setSpec>com_2022_14076</setSpec>\n                <setSpec>com_2022_3160</setSpec>\n\
        \                <setSpec>com_2022_19673</setSpec>\n                <setSpec>col_2022_14091</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>The German\
        \ School of Singing:  a Compendium of German Treatises 1848-1965</dc:title>\n\
        <dc:creator>Whitener, Joshua</dc:creator>\n<dc:subject>German Vocal technique,\
        \ Heinrich Ferdinand Mannstein, Friedrich Schmitt, Ferdinand Sieber, Julius\
        \ Hey, Bruno M\xFCller-Brunow, George Armin, Paul Bruns, Franziska Martienssen-Lohmann,\
        \ Frederick Husler</dc:subject>\n<dc:description>The German school of singing\
        \ is often characterized by the principles of a muscular approach to respiration,\
        \ an overexpansion of the chest, a darker tonal preference, fabricated laryngeal\
        \ position, and an emphasis on text over vocalism. Singers, teachers of singing,\
        \ musicologists, composers, and conductors rely on astute observations and\
        \ intensive study of historical artifacts, including original writings, translated\
        \ work, and sec[...]
