interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://krex.k-state.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-01-18T00:00:00Z&until=2016-01-20T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-01-20T14:19:04Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-01-18T00:00:00Z\" until=\"2016-01-20T00:00:00Z\"\
        >http://krex.k-state.edu/dspace-oai/request</request>\n    <ListRecords>\n\
        \        <record>\n            <header>\n                <identifier>oai:krex.k-state.edu:2097/27637</identifier>\n\
        \                <datestamp>2016-01-19T22:37:34Z</datestamp>\n           \
        \     <setSpec>com_2097_1063</setSpec>\n                <setSpec>com_2097_14697</setSpec>\n\
        \                <setSpec>col_2097_1064</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Policy in the\
        \ Making: Establishing Public Policy for Complex Animal Diseases</dc:title>\n\
        <dc:creator>Beilke, Elizabeth M.</dc:creator>\n<dc:subject>Policy</dc:subject>\n\
        <dc:subject>Health</dc:subject>\n<dc:subject>Emerging</dc:subject>\n<dc:subject>Infectious</dc:subject>\n\
        <dc:subject>Veterinary</dc:subject>\n<dc:subject>Disease</dc:subject>\n<dc:subject>Public\
        \ Health (0573)</dc:subject>\n<dc:description>Master of Public Health</dc:description>\n\
        <dc:description>Public Health Interdepartmental Program</dc:description>\n\
        <dc:description>Tiruvoor G. Nagaraja</dc:description>\n<dc:description>The\
        \ goal of this review is to provide an overview of the process by which policy\
        \ is developed for complex animal diseases. There is no one size fits all\
        \ approach to policy. Policy making for a disease is complex, often a bit\
        \ disorderly, and like med[...]
