interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://researchonline.lshtm.ac.uk/cgi/oai2?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-19T00:00:00Z&until=2015-10-21T00:00:00Z
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type='text/xsl'
        href='/oai2.xsl' ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2015-10-21T20:28:38Z</responseDate>\n
        \ <request verb=\"ListRecords\" until=\"2015-10-21T00:00:00Z\" from=\"2015-10-19T00:00:00Z\"
        metadataPrefix=\"oai_dc\">http://researchonline.lshtm.ac.uk/cgi/oai2</request>\n
        \ <ListRecords>\n    <record>\n    <header>\n      <identifier>oai:researchonline.lshtm.ac.uk:407</identifier>\n
        \     <datestamp>2015-10-20T18:48:34Z</datestamp>\n      <setSpec>7374617475733D707562</setSpec>\n
        \     <setSpec>74797065733D61727469636C65</setSpec></header>\n    <metadata>\n
        \     <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \       <dc:relation>http://researchonline.lshtm.ac.uk/407/</dc:relation>\n
        \       <dc:title>Azithromycin plus chloroquine: combination therapy for protection
        against malaria and sexually transmitted infections in pregnancy.</dc:title>\n
        \       <dc:creator>Chico, RM</dc:creator>\n        <dc:creator>Chandramohan,
        D</dc:creator>\n        <dc:description>Introduction: The first-line therapy
        for the intermittent preventive treatment of malaria in pregnancy (IPTp) is
        sulphadoxine-pyrimethamine (SP). There is an urgent need to identify safe,
        well-tolerated and efficacious alternatives to SP due to widespread Plasmodium
        falciparum resistance. Combination therapy using azithromycin and chloroquine
        is one possibility that has demonstrated adequate parasitological response
        &gt; 95% in clinical trials of n[...]
