interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://mars.gmu.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-30T00:00:00Z&until=2015-11-01T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-11-09T17:52:37.000Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-10-30T00:00:00Z\" until=\"2015-11-01T00:00:00Z\"\
        >http://mars.gmu.edu/oai/request</request><ListRecords><record><header><identifier>oai:mars.gmu.edu:1920/9993</identifier><datestamp>2015-10-30T04:23:01Z</datestamp><setSpec>com_1920_8737</setSpec><setSpec>com_1920_229</setSpec><setSpec>com_1920_1</setSpec><setSpec>com_1920_7520</setSpec><setSpec>col_1920_9242</setSpec><setSpec>col_1920_8738</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Employment\
        \ Growth through Labor Flow Networks</dc:title>\n<dc:creator>Guerrero, Omar\
        \ A.</dc:creator>\n<dc:creator>Axtell, Robert L.</dc:creator>\n<dc:subject>employment</dc:subject>\n\
        <dc:subject>labor economics</dc:subject>\n<dc:subject>agent-based modeling</dc:subject>\n\
        <dc:subject>Finland</dc:subject>\n<dc:subject>jobs</dc:subject>\n<dc:subject>Mexico</dc:subject>\n\
        <dc:subject>economics</dc:subject>\n<dc:subject>graphs</dc:subject>\n<dc:description>It\
        \ is conventional in labor economics to treat all workers who are seeking\
        \ new jobs as belonging to a labor pool, and all firms that have job vacancies\
        \ as an employer pool, and then match workers to jobs. Here we develop a new\
        \ approach to study labor and firm dynamics. By combining the emerging science\
        \ of networks with newly available employment micro-data, comprehensive at\
        \ the level of whole countries, we are able to broadly char[...]
