interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://darchive.mblwhoilibrary.org/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2014-12-19T00:00:00Z&until=2014-12-21T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-07-31T13:42:49Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2014-12-19T00:00:00Z\"
        until=\"2014-12-21T00:00:00Z\">http://darchive.mblwhoilibrary.org/oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:localhost:1912/6030</identifier>\n
        \               <datestamp>2014-12-19T19:02:41Z</datestamp>\n                <setSpec>com_1912_4</setSpec>\n
        \               <setSpec>col_1912_5</setSpec>\n            </header>\n            <metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Clicking
        in shallow rivers : short-range echolocation of Irrawaddy and Ganges River
        dolphins in a shallow, acoustically complex habitat</dc:title>\n<dc:creator>Jensen,
        Frants H.</dc:creator>\n<dc:creator>Rocco, Alice</dc:creator>\n<dc:creator>Mansur,
        Rubaiyat M.</dc:creator>\n<dc:creator>Smith, Brian D.</dc:creator>\n<dc:creator>Janik,
        Vincent M.</dc:creator>\n<dc:creator>Madsen, Peter T.</dc:creator>\n<dc:description>\xA9
        The Author(s),  2013. This article is distributed under the terms of the Creative
        Commons Attribution License. The definitive version was published in PLoS
        ONE 8 (2013):  e59284, doi:10.1371/journal.pone.0059284.</dc:description>\n<dc:description>Toothed
        whales (Cetacea, odontoceti) use biosonar to navigate their environment and
        to find and catch prey. All studied toothed whale species have evolved highly
        directional, high-amplitude ultrasonic[...]
