interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mospace.umsystem.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-02-28T00:00:00Z&until=2016-03-01T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-03-10T16:18:42Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-02-28T00:00:00Z\" until=\"2016-03-01T00:00:00Z\"\
        >https://mospace.umsystem.edu/oai/request</request><ListRecords><record><header><identifier>oai:mospace.umsystem.edu:10355/46837</identifier><datestamp>2016-02-29T22:56:03Z</datestamp><setSpec>com_10355_7570</setSpec><setSpec>com_10355_3513</setSpec><setSpec>col_10355_7571</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Best Laid Plans\
        \ : Practical Strategies for Managing Grant-Funded Projects</dc:title>\n<dc:creator>Rodriguez,\
        \ Sandy</dc:creator>\n<dc:contributor>Archive for Recorded Sound Collections.\
        \ Conference (49th : 2015 : Pittsburgh, Penn.)</dc:contributor>\n<dc:contributor>0000-0003-4347-7047</dc:contributor>\n\
        <dc:subject>Research grants</dc:subject>\n<dc:subject>Academic libraries --\
        \ Research grants</dc:subject>\n<dc:description>Session given at the 49th\
        \ Annual ARSC Conference pre-conference workshop \"From Idea to Deliverable:\
        \ Planning and Executing Your Grant-Funded Project\" in Pittsburgh, Pennsylvania,\
        \ May 27, 2015</dc:description>\n<dc:description>Grant project management\
        \ is, at its core, simply project management with an additional key stakeholder\u2014\
        the funder, whether public or private. Consequently, project managers must\
        \ approach workflow challenges by making informed decisions that balance all\
        \ key stakeholders, be they funders, donors, content producers, project team\
        \ members, institutional staff, or ultimately, the consumers that the project\
        \ aims to reach. This presentation will identify the challenges of managing\
        \ workflows for grant-funded projects and provide practical strategies for\
        \ facing these challenges by focusing on stakeholder relationships.</dc:description>\n\
        <dc:description>Association for Recorded Sound Collections</dc:description>\n\
        <dc:date>2015-10-19T21:27:51Z</dc:date>\n<dc:date>2015-10-19T21:27:51Z</dc:date>\n\
        <dc:date>2015-05-27</dc:date>\n<dc:type>Presentation</dc:type>\n<dc:identifier>https://hdl.handle.net/10355/46837</dc:identifier>\n\
        <dc:language>en</dc:language>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:mospace.umsystem.edu:10355/48074</identifier><datestamp>2016-02-29T22:52:16Z</datestamp><setSpec>com_10355_2</setSpec><setSpec>com_10355_1</setSpec><setSpec>com_10355_7570</setSpec><setSpec>com_10355_3513</setSpec><setSpec>col_10355_48073</setSpec><setSpec>col_10355_10368</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www[...]
