interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://commons.mla.org/deposits/oai/?verb=ListRecords&metadataPrefix=oai_dc&from=2016-05-25T00:00:00Z&until=2016-05-27T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<?xml-stylesheet
        type=\"text/xsl\" href=\"/app/plugins/humcore/xsl/oai2.xsl\" ?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2016-05-27T13:30:05Z</responseDate><request>https://commons.mla.org/deposits/oai</request><ListRecords><record><header><identifier>https://commons.mla.org/deposits/item/mla:3</identifier><datestamp>2015-05-04T16:57:02Z</datestamp></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"><dc:title>Taking Liberties:
        Academic Freedom and the Humanities</dc:title><dc:creator>Doug Steward</dc:creator><dc:date>2008</dc:date><dc:publisher>MLA</dc:publisher><dc:identifier>http://dx.doi.org/10.17613/M6RP4C</dc:identifier><dc:description>The
        state of academic freedom today, the particular vulnerability of certain areas
        of study, and the special relevance of scholarship in the humanities to defenses
        of academic freedom.</dc:description><dc:language>English</dc:language></oai_dc:dc></metadata></record><record><header><identifier>https://commons.mla.org/deposits/item/mla:5</identifier><datestamp>2015-05-04T17:01:24Z</datestamp></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"><dc:title>THE ILLUSIONS OF
        PHALLIC AGENCY Invisible Man, Totem and Taboo, and the Santa Claus Surprise</dc:title><dc:creator>Doug
        Steward</dc:creator><dc:date>2003</dc:date><dc:type>text</dc:type><dc:publisher>Callaloo</dc:publisher><dc:identifier>http://dx.doi.org/10.17613/M6MW2F</dc:identifier><dc:description>For
        the narrator of Invisible Man, the abjection of women and homosexuals operates
        at first as a discursive strategy for making the black male\u2019s position
        more subjectively endurable, but the narrator must eventually confront this
        discursive strategy as an illusion of hetero-phallic agency, since he continually
        fails to acq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://commons.mla.org/deposits/oai/?verb=ListRecords&resumptionToken=oai_dc.f(2016-05-25T00:00:00Z).u(2016-05-27T00:00:00Z):25
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<?xml-stylesheet
        type=\"text/xsl\" href=\"/app/plugins/humcore/xsl/oai2.xsl\" ?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2016-05-27T13:30:06Z</responseDate><request>https://commons.mla.org/deposits/oai</request><ListRecords><record><header><identifier>https://commons.mla.org/deposits/item/mla:63</identifier><datestamp>2015-06-05T17:41:04Z</datestamp></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"><dc:title>D\xE9couverte de
        l'Ur-texte de Et les chiens se taisaient</dc:title><dc:creator>Alex Gil</dc:creator><dc:date>2010</dc:date><dc:publisher>Collectif</dc:publisher><dc:subject>Caribbean
        literature</dc:subject><dc:identifier>http://dx.doi.org/10.17613/M6W880</dc:identifier><dc:description>This
        brief piece tells the story of my discovery of the Saint-Di\xE9 Typescript
        of Et les chiens se taisaient. The text also provides a preliminary description
        of the typescript, a summary of the plot of the historical drama, as well
        as a brief comparison with the published version of 1946.</dc:description><dc:language>English</dc:language></oai_dc:dc></metadata></record><record><header><identifier>https://commons.mla.org/deposits/item/mla:65</identifier><datestamp>2015-06-05T17:45:48Z</datestamp></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"><dc:title>Bridging the Middle
        Passage: The textual (r)evolution of C\xE9saire\u2019s Cahier d\u2019un retour
        au pays natal</dc:title><dc:creator>Alex Gil</dc:creator><dc:date>2011</dc:date><dc:type>text</dc:type><dc:subject>Caribbean
        literature</dc:subject><dc:identifier>http://dx.doi.org/10.17613/M6RG62</dc:identifier><dc:description>The
        paper represents an up-to-date, comprehensive and accurate account of the
        history of The Cahier d' un retour au pays natal in English today. I use the
        early [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://commons.mla.org/deposits/oai/?verb=ListRecords&resumptionToken=oai_dc.f(2016-05-25T00:00:00Z).u(2016-05-27T00:00:00Z):325
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8" ?>

        <?xml-stylesheet type="text/xsl" href="/app/plugins/humcore/xsl/oai2.xsl"
        ?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2016-05-27T13:30:10Z</responseDate><request>https://commons.mla.org/deposits/oai</request><error
        code="noRecordsMatch">The combination of the values of the from, until, set
        and metadataPrefix arguments results in an empty list.</error></OAI-PMH>'}
    headers:
      content-type: [text/xml; charset=utf-8]
      status: ['200']
    status: {code: 200, message: OK}
version: 1
