interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.neurovault.org/api/collections/?format=json
  response:
    body: {string: "{\"count\":395,\"next\":null,\"previous\":null,\"results\":[{\"id\":10,\"url\":\"http://www.neurovault.org/collections/10/\",\"contributors\":\"\",\"owner_name\":\"yeoyeo02\",\"name\":\"Test\",\"DOI\":null,\"authors\":\"\",\"paper_url\":\"\",\"journal_name\":null,\"description\":\"\",\"full_dataset_url\":null,\"add_date\":\"2013-07-03T10:48:50.369757Z\",\"modify_date\":\"2013-07-03T10:48:50.369815Z\",\"doi_add_date\":null,\"type_of_design\":null,\"number_of_imaging_runs\":null,\"number_of_experimental_units\":null,\"length_of_runs\":null,\"length_of_blocks\":null,\"length_of_trials\":null,\"optimization\":null,\"optimization_method\":\"\",\"number_of_subjects\":null,\"subject_age_mean\":null,\"subject_age_min\":null,\"subject_age_max\":null,\"handedness\":null,\"proportion_male_subjects\":null,\"inclusion_exclusion_criteria\":\"\",\"number_of_rejected_subjects\":null,\"group_comparison\":null,\"group_description\":\"\",\"scanner_make\":\"\",\"scanner_model\":\"\",\"field_strength\":null,\"pulse_sequence\":\"\",\"parallel_imaging\":\"\",\"field_of_view\":null,\"matrix_size\":null,\"slice_thickness\":null,\"skip_distance\":null,\"acquisition_orientation\":\"\",\"order_of_acquisition\":null,\"repetition_time\":null,\"echo_time\":null,\"flip_angle\":null,\"software_package\":\"\",\"software_version\":\"\",\"order_of_preprocessing_operations\":\"\",\"quality_control\":\"\",\"used_b0_unwarping\":null,\"b0_unwarping_software\":\"\",\"used_slice_timing_correction\":null,\"slice_timing_correction_software\":\"\",\"used_motion_correction\":null,\"motion_correction_software\":\"\",\"motion_correction_reference\":\"\",\"motion_correction_metric\":\"\",\"motion_correction_interpolation\":\"\",\"used_motion_susceptibiity_correction\":null,\"used_intersubject_registration\":null,\"intersubject_registration_software\":\"\",\"intersubject_transformation_type\":null,\"nonlinear_transform_type\":\"\",\"transform_similarity_metric\":\"\",\"interpolation_method\":\"\",\"object_image_type\":\"\",\"functional_coregistered_to_structural\":null,\"functional_coregistration_method\":\"\",\"coordinate_space\":null,\"target_template_image\":\"\",\"target_resolution\":null,\"used_smoothing\":null,\"smoothing_type\":\"\",\"smoothing_fwhm\":null,\"resampled_voxel_size\":null,\"intrasubject_model_type\":\"\",\"intrasubject_estimation_type\":\"\",\"intrasubject_modeling_software\":\"\",\"hemodynamic_response_function\":\"\",\"used_temporal_derivatives\":null,\"used_dispersion_derivatives\":null,\"used_motion_regressors\":null,\"used_reaction_time_regressor\":null,\"used_orthogonalization\":null,\"orthogonalization_description\":\"\",\"used_high_pass_filter\":null,\"high_pass_filter_method\":\"\",\"autocorrelation_model\":\"\",\"group_model_type\":\"\",\"group_estimation_type\":\"\",\"group_modeling_software\":\"\",\"group_inference_type\":null,\"group_model_multilevel\":\"\",\"group_repeated_measures\":null,\"group_repeated_measures_method\":\"\",\"owner\":15},{\"id\":862,\"url\":\"http://www.neurovault.org/collections/862/\",\"contributors\":\"\",\"owner_name\":\"AkiNikolaidis\",\"name\":\"AkiNikolaidis's
        temporary collection\",\"DOI\":null,\"authors\":null,\"paper_url\":null,\"journal_name\":null,\"description\":null,\"full_dataset_url\":null,\"add_date\":\"2015-10-02T23:54:43.816421Z\",\"modify_date\":\"2015-10-02T23:54:43.816501Z\",\"doi_add_date\":null,\"type_of_design\":null,\"number_of_imaging_runs\":null,\"number_of_experimental_un[...]
