interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://materialsdata.nist.gov/dspace/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-10-22T00:00:00Z&until=2015-10-24T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-12-15T19:35:19Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-10-22T00:00:00Z\" until=\"2015-10-24T00:00:00Z\"\
        >https://materialsdata.nist.gov/dspace/oai/request</request><ListRecords><record><header><identifier>oai:materialsdata.nist.gov:11256/444</identifier><datestamp>2015-10-22T17:01:25Z</datestamp><setSpec>com_11256_103</setSpec><setSpec>col_11256_104</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>BIOVIA Materials\
        \ Studio</dc:title>\n<dc:contributor />\n<dc:subject>modeling</dc:subject>\n\
        <dc:subject>morphology</dc:subject>\n<dc:subject>simulation</dc:subject>\n\
        <dc:subject>material science</dc:subject>\n<dc:description>The Materials Studio\
        \ modeling environment supports predictions and investigations of materials'\
        \ structure-property relationships. The modeling environment includes solution\
        \ methods for quantum, atomistic, mesoscale, and statistical methods for evaluating\
        \ various particle sizes and time scales. Crystal structure and growth evaluations\
        \ are also supported.</dc:description>\n<dc:date>2015-10-21T22:51:19Z</dc:date>\n\
        <dc:date>2015-10-21T22:51:19Z</dc:date>\n<dc:type>Multiple</dc:type>\n<dc:identifier>http://hdl.handle.net/11256/444</dc:identifier>\n\
        <dc:language>Eng</dc:language>\n<dc:relation>5.5.2</dc:relation>\n<dc:rights>Copyright\
        \ Dassault Syst\xE8mes</dc:rights>\n<dc:publisher>Dassault Syst\xE8mes</dc:publisher>\n\
        </oai_dc:dc>\n</metadata></record><record><header><identifier>oai:materialsdata.nist.gov:11256/445</identifier><datestamp>2015-10-23T01:00:45Z</datestamp><setSpec>com_11256_103</setSpec><setSpec>col_11256_104</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"htt[...]
