interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://data.nodc.noaa.gov/cgi-bin/oai-pmh?verb=ListRecords&metadataPrefix=oai_dc&from=2015-08-23T00:00:00Z&until=2015-08-25T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"\
        http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n    <responseDate>2015-08-28T14:21:30Z</responseDate>\n    <request from=\"\
        2015-08-23T00:00:00Z\" metadataPrefix=\"oai_dc\" until=\"2015-08-25T00:00:00Z\"\
        \ verb=\"ListRecords\">http://data.nodc.noaa.gov/cgi-bin/oai-pmh</request>\n\
        \    <ListRecords xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n    <record xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n  <header>\n    <identifier>gov.noaa.nodc:0001339</identifier>\n    <datestamp>2015-08-25T21:47:07</datestamp>\n\
        \    <setSpec>gov.noaa.nodc</setSpec>\n  </header>\n  <metadata>\n    <oai_dc:dc\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"\
        >\n      <dc:title>Temperature and salinity data profiles from CTD casts by\
        \ the NOAA Ship THOMAS JEFFERSON and its launches along the east coast of\
        \ the US, Feb - Nov, 2003 (NODC Accession 0001339)</dc:title>\n      <dc:subject>DOC/NOAA/NESDIS/NCEI\
        \ &gt; National Centers for Environmental Information, NESDIS, NOAA, U.S.\
        \ Department of Commerce</dc:subject>\n      <dc:subject>DOC/NOAA/NESDIS/NODC\
        \ &gt; National Oceanographic Data Center, NESDIS, NOAA, U.S. Department of\
        \ Commerce</dc:subject>\n      <dc:subject>oceanography</dc:subject>\n   \
        \   <dc:publisher>DOC/NOAA/NESDIS/NODC &gt; National Oceanographic Data Center,\
        \ NESDIS, NOAA, U.S. Department of Commerce</dc:publisher>\n      <dc:date>2015-08-25T21:47:07</dc:date>\n\
        \      <dc:type>Dataset</dc:type>\n      <dc:format>multipart/mixed</dc:format>\n\
        \      <dc:coverage>westlimit:-78.98; eastlimit:-70; northlimit:42.88; southlimit:31.48;\
        \ start:2003-02-06; end:2003-11-05;</dc:coverage>\n      <dc:rights>None</dc:rights>\n\
        \      <dc:identifier>http://accession.nodc.noaa.gov/0001339</dc:identifier>\n\
        \      <dc:identifier>http://accession.nodc.noaa.gov/oas/1339</dc:identifier>\n\
        \    </oai_dc:dc>\n  </metadata>\n</record><record xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n  <header>\n    <identifier>gov.noaa.nodc:0001644</identifier>\n    <datestamp>2015-08-25T21:24:37</datestamp>\n\
        \    <setSpec>gov.noaa.nodc</setSpec>\n  </header>\n  <metadata>\n    <oai_dc:dc\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"\
        >\n      <dc:title>GLobal Ocean Data Analysis Project (GLODAP) version 1.1\
        \ (NODC Accession 0001644)</dc:title>\n      <dc:subject>DOC/NOAA/NESDIS/NCEI\
        \ &gt; National Centers for Environmental Information, NESDIS, NOAA, U.S.\
        \ Department of Commerce</dc:subject>\n      <dc:subject>DOC/NOAA/NESDIS/NODC\
        \ &gt; National Oceanographic Data Center, NESDIS, NOAA, U.S. Department of\
        \ Commerce</dc:subject>\n      <dc:subject>oceanography</dc:subject>\n   \
        \   <dc:description>The GLobal Ocean Data Analysis Project (GLODAP) is a cooperative\
        \ effort to coordinate global synthesis projects funded through NOAA/DOE and\
        \ NSF as part of the Joint Global Ocean Flux Study - Synthesis and Modeling\
        \ Project (JGOFS-SMP). Cruises conducted as part of the World Ocean Circulation\
        \ Experiment (WOCE), Joint Global Ocean Flux Study (JGOFS) and NOAA Ocean-Atmosphere\
        \ Exchange Study (OACES) over the decade of the 1990s have created an oc[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://data.nodc.noaa.gov/cgi-bin/oai-pmh?verb=ListRecords&resumptionToken=KjnnmU10TLxeGoHj-AAAAAA
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"\
        http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n    <res[...]
