interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://data.nodc.noaa.gov/cgi-bin/oai-pmh?verb=ListRecords&metadataPrefix=oai_dc&from=2015-01-10T00:00:00Z&until=2015-01-12T00:00:00Z
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        >\n    <responseDate>2015-09-02T19:47:54Z</responseDate>\n    <request from=\"\
        2015-01-10T00:00:00Z\" metadataPrefix=\"oai_dc\" until=\"2015-01-12T00:00:00Z\"\
        \ verb=\"ListRecords\">http://data.nodc.noaa.gov/cgi-bin/oai-pmh</request>\n\
        \    <ListRecords xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n    <record xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n  <header>\n    <identifier>gov.noaa.nodc:0002316</identifier>\n    <datestamp>2015-01-12T13:39:50</datestamp>\n\
        \    <setSpec>gov.noaa.nodc</setSpec>\n  </header>\n  <metadata>\n    <oai_dc:dc\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:oai_dc=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"\
        >\n      <dc:title>Biological and other data collected from bottle casts in\
        \ the NW Atlantic Ocean from HERMANO GINES from 16 January 2002 to 18 May\
        \ 2004 (NODC Accession 0002316)</dc:title>\n      <dc:subject>DOC/NOAA/NESDIS/NCEI\
        \ &gt; National Centers for Environmental Information, NESDIS, NOAA, U.S.\
        \ Department of Commerce</dc:subject>\n      <dc:subject>DOC/NOAA/NESDIS/NODC\
        \ &gt; National Oceanographic Data Center, NESDIS, NOAA, U.S. Department of\
        \ Commerce</dc:subject>\n      <dc:subject>oceanography</dc:subject>\n   \
        \   <dc:description>Data collected in support of the CARIACO program, which\
        \ is studying the relationship between surface primary production, physical\
        \ forcing variables like the wind, and the settling flux of particulate carbon\
        \ in the Cariaco Basin on the continental shelf of Venezuela. Data were collected\
        \ from 16 January 2002 to 18 May 2004.</dc:description>\n      <dc:publisher>DOC/NOAA/NESDIS/NODC\
        \ &gt; National Oceanographic Data Center, NESDIS, NOAA, U.S. Department of\
        \ Commerce</dc:publisher>\n      <dc:date>2015-01-12T13:39:50</dc:date>\n\
        \      <dc:type>Dataset</dc:type>\n      <dc:format>multipart/mixed</dc:format>\n\
        \      <dc:coverage>westlimit:-64.66; eastlimit:-64.65; northlimit:10.48;\
        \ southlimit:10.48; start:2002-01-16; end:2004-05-18;</dc:coverage>\n    \
        \  <dc:rights>None</dc:rights>\n      <dc:identifier>http://accession.nodc.noaa.gov/0002316</dc:identifier>\n\
        \      <dc:identifier>http://accession.nodc.noaa.gov/oas/2316</dc:identifier>\n\
        \    </oai_dc:dc>\n  </metadata>\n</record><record xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        >\n  <header>\n    <identifier>gov.noaa.nodc:0013170</identifier>\n    <datestamp>2015-01-12T13:39:50</datestam[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://data.nodc.noaa.gov/cgi-bin/iso?id=gov.noaa.nodc:0002316&view=xml
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n\
        <gmi:MI_Metadata xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"\
        http://www.isotc211.org/2005/gmd\" xmlns:gmi=\"http://www.isotc211.org/2005/gmi\"\
        \ xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:gmx=\"http://www.isotc211.org/2005/gmx\"\
        \ xmlns:gsr=\"http://www.isotc211.org/2005/gsr\" xmlns:gss=\"http://www.isotc211.org/2005/gss\"\
        \ xmlns:gts=\"http://www.isotc211.org/2005/gts\" xmlns:srv=\"http://www.isotc211.org/2005/srv\"\
        \ xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xsi:schemaLocation=\"http://www.isotc211.org/2005/gmi http://www.ngdc.noaa.gov/metadata/published/xsd/schema.xsd\"\
        >\n  <gmd:fileIdentifier>\n    <gco:CharacterString>gov.noaa.nodc:0002316</gco:CharacterString>\n\
        \  </gmd:fileIdentifier>\n  <gmd:language>\n    <gmd:LanguageCode codeList=\"\
        http://www.loc.gov/standards/iso639-2/php/code_list.php\" codeListValue=\"\
        eng\">eng</gmd:LanguageCode>\n  </gmd:language>\n  <gmd:characterSet>\n  \
        \  <gmd:MD_CharacterSetCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode\"\
        \ codeListValue=\"utf8\">utf8</gmd:MD_CharacterSetCode>\n  </gmd:characterSet>\n\
        \  <gmd:hierarchyLevel>\n    <gmd:MD_ScopeCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode\"\
        \ codeListValue=\"dataset\">dataset</gmd:MD_ScopeCode>\n  </gmd:hierarchyLevel>\n\
        \  <gmd:contact>\n    <gmd:CI_ResponsibleParty>\n      <gmd:organisationName>\n\
        \        <gco:CharacterString>DOC/NOAA/NESDIS/NCEI &gt; National Centers for\
        \ Environmental Information, NESDIS, NOAA, U.S. Department of Commerce</gco:CharacterString>\n\
        \      </gmd:organisationName>\n      <gmd:positionName>\n        <gco:CharacterString>Data\
        \ Officer</gco:CharacterString>\n      </gmd:positionName>\n      <gmd:contactInfo>\n\
        \        <gmd:CI_Contact>\n          <gmd:phone>\n            <gmd:CI_Telephone>\n\
        \              <gmd:voice>\n                <gco:CharacterString>301-713-3272</gco:CharacterString>\n\
        \              </gmd:voice>\n              <gmd:facsimile>\n             \
        \   <gco:CharacterString>301-713-3302</gco:CharacterString>\n            \
        \  </gmd:facsimile>\n            </gmd:CI_Telephone>\n          </gmd:phone>\n\
        \          <gmd:address>\n            <gmd:CI_Address>\n              <gmd:deliveryPoint>\n\
        \                <gco:CharacterString>Federal Building 151 Patton Avenue</gco:CharacterString>\n\
        \              </gmd:deliveryPoint>\n              <gmd:city>\n          \
        \      <gco:CharacterString>Asheville</gco:CharacterString>\n            \
        \  </gmd:city>\n              <gmd:administrativeArea>\n                <gco:CharacterString>NC</gco:CharacterString>\n\
        \              </gmd:administrativeArea>\n              <gmd:postalCode>\n\
        \                <gco:CharacterString>28801-5001</gco:CharacterString>\n \
        \             </gmd:postalCode>\n              <gmd:country>\n           \
        \     <gco:CharacterString>USA</gco:CharacterString>\n              </gmd:country>\n\
        \              <gmd:electronicMailAddress>\n                <gco:CharacterString>NODC.DataOfficer@noaa.gov</gco:CharacterString>\n\
        \              </gmd:electronicMailAddress>\n            </gmd:CI_Address>\n\
        \          </gmd:address>\n          <gmd:onlineResource>\n            <gmd:CI_OnlineResource>\n\
        \              <gmd:linkage>\n                <gmd:URL>http://www.ncei.noaa.gov/</gmd:URL>\n\
        \              </gmd:linkage>\n              <gmd:protocol>\n            \
        \    <gco:CharacterString>HTTP</gco:CharacterString>\n              </gmd:protocol>\n\
        \              <gmd:applicationProfile>\n                <gco:CharacterString>Standard\
        \ Internet browser</gco:CharacterString>\n              </gmd:applicationProfile>\n\
        \              <gmd:name>\n                <gco:CharacterString>NOAA National\
        \ Centers for Environmental Information website</gco:CharacterString>\n  \
        \            </gmd:name>\n              <gmd:description>\n              \
        \  <gco:CharacterString>Main NCEI website providing links to access data and\
        \ data services.</gco:CharacterString>\n              </gmd:description>\n\
        \              <gmd:function>\n                <gmd:CI_OnLineFunctionCode\
        \ codeList=\"http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#CI_OnLineFunctionCode\"\
        \ codeListValue=\"information\">information</gmd:CI_OnLineFunctionCode>\n\
        \              </gmd:function>\n            </gmd:CI_OnlineResource>\n   \
        \       </gmd:onlineResource>\n        </gmd:CI_Contact>\n      </gmd:contactInfo>\n\
        \      <gmd:role>\n        <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\"\
        \ codeListValue=\"custodian\">custodian</gmd:CI_RoleCode>\n      </gmd:role>\n\
        \    </gmd:CI_ResponsibleParty>\n  </gmd:contact>\n  <gmd:dateStamp>\n   \
        \ <gco:DateTime>2015-01-12T13:39:50</gco:DateTime>\n  </gmd:dateStamp>\n \
        \ <gmd:metadataStandardName>\n    <gco:CharacterString>ISO 19115-2 Geographic\
        \ Information - Metadata - Part 2: Extensions for Imagery and Gridded Data</gco:CharacterString>\n\
        \  </gmd:metadataStandardName>\n  <gmd:metadataStandardVersion>\n    <gco:CharacterString>ISO\
        \ 19115-2:2009(E)</gco:CharacterString>\n  </gmd:metadataStandardVersion>\n\
        \  <gmd:identificationInfo>\n    <gmd:MD_DataIdentification>\n      <gmd:citation>\n\
        \        <gmd:CI_Citation>\n          <gmd:title>\n            <gco:CharacterString>Biological\
        \ and other data collected from bottle casts in the NW Atlantic Ocean from\
        \ HERMANO GINES from 16 January 2002 to 18 May 2004 (NODC Accession 0002316)</gco:CharacterString>\n\
        \          </gmd:title>\n          <gmd:date>\n            <gmd:CI_Date>\n\
        \              <gmd:date>\n                <gco:Date>2010-12-17</gco:Date>\n\
        \              </gmd:date>\n              <gmd:dateType>\n               \
        \ <gmd:CI_DateTypeCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode\"\
        \ codeListValue=\"publication\">publication</gmd:CI_DateTypeCode>\n      \
        \        </gmd:dateType>\n            </gmd:CI_Date>\n          </gmd:date>\n\
        \          <gmd:identifier>\n            <gmd:MD_Identifier>\n           \
        \   <gmd:authority>\n                <gmd:CI_Citation>\n                 \
        \ <gmd:title>\n                    <gco:CharacterString>Accession Number</gco:CharacterString>\n\
        \                  </gmd:title>\n                  <gmd:date gco:nilReason=\"\
        inapplicable\"/>\n                </gmd:CI_Citation>\n              </gmd:authority>\n\
        \              <gmd:code>\n                <gmx:Anchor xlink:href=\"http://data.nodc.noaa.gov/cgi-bin/iso?id=gov.noaa.nodc:0002316\"\
        \ xlink:actuate=\"onRequest\" xlink:title=\"NCEI Accession Number\">gov.noaa.nodc:0002316</gmx:Anchor>\n\
        \              </gmd:code>\n            </gmd:MD_Identifier>\n          </gmd:identifier>\n\
        \          <gmd:citedResponsibleParty>\n            <gmd:CI_ResponsibleParty>\n\
        \              <gmd:organisationName>\n                <gco:CharacterString>DOC/NOAA/NESDIS/NCEI\
        \ &gt; National Centers for Environmental Information, NESDIS, NOAA, U.S.\
        \ Department of Commerce</gco:CharacterString>\n              </gmd:organisationName>\n\
        \              <gmd:contactInfo>\n                <gmd:CI_Contact>\n     \
        \             <gmd:phone>\n                    <gmd:CI_Telephone>\n      \
     [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://data.nodc.noaa.gov/cgi-bin/iso?id=gov.noaa.nodc:GHRSST-EUR-L2P-TMI&view=xml
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<gmi:MI_Metadata\
        \ xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\"\
        \ xmlns:gmi=\"http://www.isotc211.org/2005/gmi\" xmlns:gml=\"http://www.opengis.net/gml/3.2\"\
        \ xmlns:gmx=\"http://www.isotc211.org/200[...]
