interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.nsf.gov/services/v1/awards.json?dateStart=04/17/2016&dateEnd=04/18/2016
  response:
    body: {string: !!python/unicode "{\n  \"response\" : {\n    \"award\" : [ {\n
        \     \"agency\" : \"NSF\",\n      \"awardeeCity\" : \"Minneapolis\",\n      \"awardeeName\"
        : \"University of Minnesota-Twin Cities\",\n      \"awardeeStateCode\" : \"MN\",\n
        \     \"fundsObligatedAmt\" : \"2518120\",\n      \"id\" : \"1559691\",\n
        \     \"piFirstName\" : \"Paul\",\n      \"piLastName\" : \"Morin\",\n      \"publicAccessMandate\"
        : \"0\",\n      \"date\" : \"04/18/2016\",\n      \"title\" : \"The Polar
        Geospatial Center: Community and Facility Support\"\n    }, {\n      \"agency\"
        : \"NSF\",\n      \"awardeeCity\" : \"NEW YORK\",\n      \"awardeeName\" :
        \"New York University\",\n      \"awardeeStateCode\" : \"NY\",\n      \"fundsObligatedAmt\"
        : \"179628\",\n      \"id\" : \"1601680\",\n      \"piFirstName\" : \"Alena\",\n
        \     \"piLastName\" : \"Pirutka\",\n      \"publicAccessMandate\" : \"0\",\n
        \     \"date\" : \"04/18/2016\",\[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.nsf.gov/services/v1/awards.json?dateStart=04/17/2016&dateEnd=04/18/2016&offset=26
  response:
    body: {string: !!python/unicode "{\n  \"response\" : {\n    \"award\" : [ {\n
        \     \"agency\" : \"NSF\",\n      \"awardeeCity\" : \"AMHERST\",\n      \"awardeeName\"
        : \"University of Massachusetts Amherst\",\n      \"awardeeStateCode\" : \"MA\",\n
        \     \"fundsObligatedAmt\" : \"211133\",\n      \"id\" : \"1551799\",\n      \"piFirstName\"
        : \"Jason\",\n      \"piLastName\" : \"Kamilar\",\n      \"publicAccessMandate\"
        : \"0\",\n      \"date\" : \"04/18/2016\",\n      \"title\" : \"Collaborative
        Research: Understanding Temporal Variation in Primate Communities: Integrating
        Data from Extant and Fossil Species\"\n    }, {\n      \"agency\" : \"NSF\",\n
        \     \"awardeeCity\" : \"Cambridge\",\n      \"awardeeName\" : \"Harvard
        University\",\n      \"awardeeStateCode\" : \"MA\",\n      \"fundsObligatedAmt\"
        : \"397771\",\n      \"id\" : \"1556164\",\n      \"piFirstName\" : \"Robert\",\n
        \     \"piLastName\" : \"Wood\",\n      \"publicAccessMandate\" : \"0\",\n
        \     \"date\" : \"04/18/2016\",\n      \"title\" : \"Collaborative Research:
        IDBR: TYPE A: Development of Squishy Robot Hands for a Delicate, Effective
        and Non-Intrusive Approach to Studying Deep Coral Reefs\"\n    }, {\n      \"agency\"
        : \"NSF\",\n      \"awardeeCity\" : \"Greensboro\",\n      \"awardeeName\"
        : \"Bio-Adhesive Alliance Inc.\",\n      \"awardeeStateCode\" : \"NC\",\n
        \     \"fundsObligatedAmt\" : \"750000\",\n      \"id\" : \"1556041\",\n      \"piFirstName\"
        : \"Daniel\",\n      \"piLastName\" : \"Oldham\",\n      \"publicAccessMandate\"
        : \"0\",\n      \"date\" : \"04/18/2016\",\n      \"title\" : \"SBIR Phase
        II: Production of Bio-adhesive from Animal Waste\"\n    }, {\n      \"agency\"
        : \"NSF\",\n      \"awardeeCity\" : \"Houston\",\n      \"awardeeName\" :
        \"William Marsh Rice University\",\n      \"awardeeStateCode\" : \"TX\",\n
        \     \"fundsObligatedAmt\" : \"5000\",\n      \"id\" : \"1619989\",\n      \"piFirstName\"
        : \"Douglas\",\n      \"piLastName\" : \"Natelson\",\n      \"publicAccessMandate\"
        : \"0\",\n      \"date\" : \"04/18/2016\",\n      \"title\" : \"Workshop Proposal:
        Interacting Quantum Systems Out of Equilibrium\"\n    } ]\n  }\n}"}
    headers:
      content-type: [application/json; charset=UTF-8]
      dynatrace: [PT=710592;PA=-517075170;RS=ResearchGOV - PROD/20160416015531_0.session;SP=ResearchGOV
          - PROD;PS=451467401]
      x-dynatrace: [PT=710592;PA=-517075170;RS=ResearchGOV - PROD/20160416015531_0.session;SP=ResearchGOV
          - PROD;PS=451467401]
    status: {code: 200, message: OK}
version: 1
