interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://oaktrust.library.tamu.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-08-18T00:00:00Z&until=2015-08-20T00:00:00Z
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet
        type=\"text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-08-20T21:37:49Z</responseDate><request
        verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2015-08-18T00:00:00Z\"
        until=\"2015-08-20T00:00:00Z\">http://oaktrust.library.tamu.edu/dspace-oai/request</request><ListRecords><record><header><identifier>oai:oaktrust.library.tamu.edu:1969.1/149344</identifier><datestamp>2015-08-18T14:59:00Z</datestamp><setSpec>com_1969.1_1</setSpec><setSpec>com_1969.1_2815</setSpec><setSpec>col_1969.1_2</setSpec></header><metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Application
        of Dissolution Dynamic Nuclear Polarization to the Characterization of Reactions
        Involving Large Molecules</dc:title>\n<dc:creator>Lee, Youngbok</dc:creator>\n<dc:contributor>Hilty,
        Christian</dc:contributor>\n<dc:contributor>Barondeau, David P.</dc:contributor>\n<dc:contributor>Liu
        , Wenshe</dc:contributor>\n<dc:contributor>Young, Ryland</dc:contributor>\n<dc:subject>NMR</dc:subject>\n<dc:subject>DNP</dc:subject>\n<dc:description>Nuclear
        magnetic resonance (NMR) spectroscopy is one of the most important analytical
        tools for organic and biological chemistry. It provides not only detailed
        information on the structure of small molecules and macromolecules, but also
        on molecular interactions. Because of the inherent low sensitivity of NMR,
        a long signal averaging time or a high spin concentration is often required.
        A variety of methods have been explored to improve the sensitiv[...]
