interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.maxwell.vrac.puc-rio.br/DC_Todos.php?verb=ListRecords&metadataPrefix=oai_dc&from=2015-03-14&until=2015-03-16
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-12-28T12:55:51Z</responseDate><request verb=\"ListRecords\"\
        \  from=\"2015-03-14\" until=\"2015-03-16\" metadataPrefix=\"oai_dc\">http://www.maxwell.vrac.puc-rio.br/DC_Todos.php</request><ListRecords><record><header><identifier>oai:MAXWELL.puc-rio.br:24182</identifier><datestamp>2015-03-16</datestamp></header><metadata><oaidc:dc\
        \ xmlns=\"http://purl.org/dc/elements/1.1/\" xmlns:oaidc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\"\
        ><title>[pt] APERFEI\xC7OAMENTO DE TAC\xD4METRO MAGN\xC9TICO PARA COLUNAS\
        \ DE PERFURA\xC7\xC3O </title><creator>DIOGO SPAZZAFUMO REINOSO</creator><subject>[pt]\
        \ PERFURACAO</subject><subject>[pt] TACOMETRO</subject><subject>[pt] GMR -\
        \ MAGNETORRESISTENCIA GIGANTE</subject><description>[pt] No Projeto Final\
        \ do aluno Jean Philippe Dines Labarrere, finalizado em dezembro/2013, desenvolveu-se\
        \ um prot\xF3tipo preliminar de tac\xF4metro magn\xE9tico para bloco de perfura\xE7\
        \xE3o, para o qual foram necess\xE1rias algumas simplifica\xE7\xF5es, como\
        \ a utiliza\xE7\xE3o de um tubo de PVC com \xEDm\xE3s acoplados para simular\
        \ a coluna de perfura\xE7\xE3o. Em uma segunda vers\xE3o do tac\xF4metro,\
        \ em Projeto Final finalizad[...]
