interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.plos.org/search?q=publication_date:%5B2007-12-20T00:00:00Z+TO+2007-12-21T00:00:00Z%5D&api_key=a1TjkHdh2NzVd6jhsDzM&rows=0
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <response>

        <result name="response" numFound="116" start="0" maxScore="1.0"></result>

        </response>

        '}
    headers:
      content-type: [application/xml;charset=UTF-8]
      etag: ['"OWZmZjcwMDAwMDAwMDAwMFNvbHI="']
      last-modified: ['Fri, 24 Apr 2015 17:54:22 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.plos.org/search?q=publication_date:%5B2007-12-20T00:00:00Z+TO+2007-12-21T00:00:00Z%5D&start=0&api_key=a1TjkHdh2NzVd6jhsDzM&rows=999
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n<result\
        \ name=\"response\" numFound=\"116\" start=\"0\" maxScore=\"1.0\"><doc><str\
        \ name=\"id\">10.1371/journal.ppat.0030198</str><str name=\"journal\">PLoS\
        \ Pathogens</str><str name=\"eissn\">1553-7374</str><date name=\"publication_date\"\
        >2007-12-21T00:00:00Z</date><str name=\"article_type\">Research Article</str><arr\
        \ name=\"author_display\"><str>Jason G Smith</str><str>James M Cunningham</str></arr><arr\
        \ name=\"abstract\"><str>According to current models of retrovirus infection,\
        \ receptor binding to the surface subunit (SU) of the envelope glycoprotein\
        \ (Env) triggers a conformational change in the transmembrane subunit (TM)\
        \ that mediates vir[...]
