interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ir.library.oregonstate.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2014-12-19T00:00:00Z&until=2014-12-21T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-07-30T12:33:19Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2014-12-19T00:00:00Z\"
        until=\"2014-12-21T00:00:00Z\">http://ir.library.oregonstate.edu/oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:ir.library.oregonstate.edu:1957/49273</identifier>\n
        \               <datestamp>2014-12-20T01:00:08Z</datestamp>\n                <setSpec>com_1957_88</setSpec>\n
        \               <setSpec>col_1957_89</setSpec>\n            </header>\n            <metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Intravenous
        regional limb perfusion with tiludronate in horses</dc:title>\n<dc:contributor>Duesterdieck-Zellmer,
        Katja F.</dc:contributor>\n<dc:contributor>Iwaniec, Urszula</dc:contributor>\n<dc:contributor>Savage,
        Tom</dc:contributor>\n<dc:contributor>Parker, Jill E.</dc:contributor>\n<dc:subject>Tiludronate</dc:subject>\n<dc:description>Graduation
        date: 2014</dc:description>\n<dc:description>Access restricted to the OSU
        Community, at author's request, from June 20, 2014 - Dec. 20, 2014</dc:description>\n<dc:description>Intravenous
        regional limb perfusion (IVRLP) with tiludronate is a commonly used treatment
        for distal limb orthopedic disease in horses, but doses and protocols are
        anecdotal. IVRLP exposes articular cartilage within the perfused area to tiludronate,
        raising concerns about safety of this tr[...]
