interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.osti.gov:443/scitech/scitechxml?EntryDateTo=12/25/2014&page=0&EntryDateFrom=12/24/2014
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rdf:RDF xmlns:rdf=\"\
        http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\
        \ xmlns:dcq=\"http://purl.org/dc/terms/\"><records count=\"123\" morepages=\"\
        true\" start=\"1\" end=\"100\"><record rownumber=\"1\"><dc:title>Capacity\
        \ Specification for Hybrid Energy Storage System to Accommodate Fast PV Fluctuations</dc:title><dc:creator>Wang\
        \ X.; Yue, E-mail: Yue@gmail.com, (ORCID: 12313123) [The streets] M</dc:creator><dc:subject>25 ENERGY STORAGE</dc:subject><dc:subjectRelated/><dc:description>N/A</dc:description><dcq:publisher/><dcq:publisherAvailability/><dcq:publisherResearch>Brookhaven\
        \ National Laboratory (BNL)</dcq:publisherResearch><dcq:publisherSponsor>USDOE\
        \ SC OFFICE OF SCIENCE (SC)</dcq:publisherSponsor><dcq:publisherCountry>United\
        \ States</dcq:publisherCountry><dc:date>2015-07-26</dc:date><dc:language>English</dc:language><dc:type>Conference</dc:type><dcq:typeQualifier/><dc:relation>Conference:\
        \ 2015 IEEE PES General Meeting; Denver, CO; 20150726 through 20150730</dc:relation><dc:coverage/><dc:format>Medium:\
        \ ED</dc:format><dc:identifier>OSTI ID: 1165967, Legacy ID: OSTI ID: 1165967</dc:identifier><dc:identifierReport>BNL--107211-2014-CP</dc:identifierReport><dcq:identifierDOEcontract>DE-AC02-98CH10886</dcq:identifierDOEcontract><dc:identifierOther>Other:\
        \ YN0100000</dc:identifierOther><dc:doi/><dc:rights/><dc:dateEntry>2014-12-25</dc:dateEntry><dc:dateAdded>2014-12-25</dc:dateAdded><dc:ostiId>1165967</dc:ostiId><dcq:identifier-purl\
        \ type=\"application/pdf\">http://www.osti.gov/scitech/servlets/purl/1165967</dcq:identifier-purl><dcq:identifier-citation>http://www.osti.gov/scitech/biblio/1165967</dcq:identifier-citation></record><record\
        \ rownumber=\"2\"><dc:title>Using pipe with corrugated walls for a sub-terahertz\
        \ FEL</dc:title><dc:creator>Stupakov, Gennady; /SLAC; , </dc:creator><dc:subject>General\
        \ Physics,ACCPHY</dc:subject><dc:subjectRelated>General Physics,ACCPHY</dc:subjectRelated><dc:description>Abstract\
        \ Not Provided</dc:description><dcq:publisher/><dcq:publisherAvailability>http://www-public.slac.stanford.edu/SciDoc/docMeta.aspx?slacPubNumber=slac-pub-16171</dcq:publisherAvailability><dcq:publisherResearch>SLAC\
        \ National Accelerator Laboratory (SLAC)</dcq:publisherResearch><dcq:publisherSponsor>US\
        \ DOE Office of Science (DOE SC)</dcq:publisherSponsor><dcq:publisherCountry>United\
        \ States</dcq:publisherCountry><dc:date>2014-12-15</dc:date><dc:language>English</dc:language><dc:type>Journal\
        \ Article</dc:type><dcq:typeQualifier/><[...]
[...]
