interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://shareok.org:443/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-04-23T00:00:00Z&until=2015-04-24T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-04-24T15:26:14Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-04-23T00:00:00Z\" until=\"2015-04-24T00:00:00Z\"\
        >https://shareok.org/oai/request</request>\n    <ListRecords>\n        <record>\n\
        \            <header>\n                <identifier>oai:shareok.org:11244/14441</identifier>\n\
        \                <datestamp>2015-04-23T02:00:38Z</datestamp>\n           \
        \     <setSpec>com_11244_1</setSpec>\n                <setSpec>col_11244_10476</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>The effects\
        \ of undermining on newcomer socialization</dc:title>\n<dc:creator>Peacock,\
        \ Juandre</dc:creator>\n<dc:contributor>Buckley, Michael</dc:contributor>\n\
        <dc:contributor>Connelly, Shane</dc:contributor>\n<dc:contributor>Mumford,\
        \ Michael</dc:contributor>\n<dc:contributor>Bolino, Mark</dc:contributor>\n\
        <dc:contributor>Terry, Robert</dc:contributor>\n<dc:subject>Organizational\
        \ Socialization</dc:subject>\n<dc:subject>Peer undermining</dc:subject>\n\
        <dc:subject>Supervisor Undermining</dc:subject>\n<dc:subject>two stage mediation</dc:subject>\n\
        <dc:description>Although much is known about the nature of supportive behaviors\
        \ during organizational socialization, less is known about the effects of\
        \ undermining during this process. This study examines the effects of undermining\
        \ from peers and supervisors on organizational newcomers during the early\
        \ stages of socialization. It examines these effects on select outcome variables\
        \ (organizational commitment, withdrawal behaviors, coworker satisfaction,\
        \ burnout, and thriving) via a two-stage mediation process model that includes\
        \ proactive socialization, newcomer adaptation, role clarity, and social acceptance\
        \ as mediating variables. The effects were examined using structural equation\
        \ modeling, and the results indicate that undermining in general does have\
        \ deleterious effects on the outcomes via the mediational processes, but that\
        \ the relationships are complex. Implications for the findings and future\
        \ directions are also highlighted.</dc:description>\n<dc:date>2015-04-22T16:13:54Z</dc:date>\n\
        <dc:date>2015-04-22T16:13:54Z</dc:date>\n<dc:date>2015</dc:date>\n<dc:date>2015</dc:date>\n\
        <dc:identifier>http://hdl.handle.net/11244/14441</dc:identifier>\n</oai_dc:dc>\n\
        </metadata>\n        </record>\n        <record>\n            <header>\n \
        \               <identifier>oai:shareok.org:11244/14442</identifier>\n   \
        \             <datestamp>2015-04-23T02:00:29Z</datestamp>\n              \
        \  <setSpec>com_11244_10460</setSpec>\n                <setSpec>com_11244_6231</setSpec>\n\
        \                <setSpec>col_11244_10464</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Outcrop-Based\
        \ Gamma-Ray Characterization of Arsenic-Bearing Lithofacies in the Garber-Wellington\
        \ Formation, Central Oklahoma Aquifer (COA), Cleveland County, Oklahoma</dc:title>\n\
        <dc:creator>Gromadzki, Gregory A.</dc:creator>\n<dc:date>2015-04-22T17:34:31Z</dc:date>\n\
        <dc:date>2015-04-22T17:34:31Z</dc:date>\n<dc:date>2015-04-22</dc:date>\n<dc:date>2004-05-01</dc:date>\n\
        <dc:identifier>http://hdl.handle.net/11244/14442</dc:identifier>\n<dc:language>en_US</dc:language>\n\
        <dc:rights>Copyright is held by the author who has granted the Oklahoma State\
        \ University Library the non-exclusive right to share this material in its\
        \ institutional repository. Contact Digital Library Services at lib-dls@okstate.edu\
        \ or 405-744-9161 for the permission policy on the use, reproduction or distribution\
        \ of this material.</dc:rights>\n</oai_dc:dc>\n</metadata>\n        </record>\n\
        \        <record>\n            <header>\n                <identi[...]
