interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://sldr.org/oai-pmh.php?verb=ListRecords&metadataPrefix=oai_dc&from=2015-12-15&until=2015-12-17
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"\
        http://www.openarchives.org/OAI/2.0/\"\n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/\n   \
        \      http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n<responseDate>2015-12-17T15:31:02Z</responseDate>\n\
        <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2015-12-15\"\
        \ until=\"2015-12-17\">http://sldr.org/oai-pmh.php</request>\n<ListRecords>\n\
        <record>\n<header>\n<identifier>oai:sldr.org:sldr000766</identifier>\n<datestamp>2015-12-15</datestamp>\n\
        <setSpec>ortolang</setSpec>\n<setSpec>archive:long-term</setSpec>\n</header>\n\
        <metadata>\n<oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dcterms=\"http://purl.org/dc/terms/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd http://purl.org/dc/elements/1.1/\
        \ http://dublincore.org/schemas/xmls/qdc/2006/01/06/dc.xsd http://purl.org/dc/terms/\
        \ http://dub[...]
