interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://repository.si.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2013-03-17T00:00:00Z&until=2013-03-19T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-06-15T15:42:37Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2013-03-17T00:00:00Z\"
        until=\"2013-03-19T00:00:00Z\">http://repository.si.edu/oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:repository.si.edu:10088/19590</identifier>\n
        \               <datestamp>2013-03-18T05:39:21Z</datestamp>\n                <setSpec>com_10088_5</setSpec>\n
        \               <setSpec>col_10088_3583</setSpec>\n            </header>\n
        \           <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Using hand proportions
        to test taxonomic boundaries within the Tupaia glis species complex (Scandentia,
        Tupaiidae)</dc:title>\n<dc:creator>Sargis, Eric J.</dc:creator>\n<dc:creator>Woodman,
        Neal</dc:creator>\n<dc:creator>Reese, Aspen T.</dc:creator>\n<dc:creator>Olson,
        Link E.</dc:creator>\n<dc:date>2013-03-12T18:05:35Z</dc:date>\n<dc:date>2013-03-12T18:05:35Z</dc:date>\n<dc:date>2013</dc:date>\n<dc:type>Article</dc:type>\n<dc:identifier>Journal
        of Mammalogy, 94(1) : 183-201.</dc:identifier>\n<dc:identifier>http://hdl.handle.net/10088/19590</dc:identifier>\n<dc:identifier>114529</dc:identifier>\n<dc:identifier>10.1644/11-MAMM-A-343.1</dc:identifier>\n</oai_dc:dc>\n</metadata>\n
        \       </record>\n        <record>\n            <header>\n                <identifier>oai:repository.si.edu:10088/19591</identifier>\n
        \               <datestamp>2013-03-18T05:39:24Z</datestamp>\n                <setSpec>com_10088[...]
