interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://triceratops.brynmawr.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-04-26T00:00:00Z&until=2016-04-28T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-04-28T15:20:39Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-04-26T00:00:00Z\" until=\"2016-04-28T00:00:00Z\"\
        >http://triceratops.brynmawr.edu/dspace-oai/request</request>\n    <ListRecords>\n\
        \        <record>\n            <header>\n                <identifier>oai:triceratops.brynmawr.edu:10066/1476</identifier>\n\
        \                <datestamp>2016-04-27T14:44:09Z</datestamp>\n           \
        \     <setSpec>com_10066_105</setSpec>\n                <setSpec>com_10066_97</setSpec>\n\
        \                <setSpec>com_10066_96</setSpec>\n                <setSpec>col_10066_1467</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Narratological\
        \ Metamorphoses: A Study of the Narrator Stance in Apuleius' Metamorphoses</dc:title>\n\
        <dc:creator>Christy, Elizabeth</dc:creator>\n<dc:contributor>Roberts, Deborah\
        \ H.</dc:contributor>\n<dc:date>2008-06-18T20:24:15Z</dc:date>\n<dc:date>2008-06-18T20:24:15Z</dc:date>\n\
        <dc:date>1993</dc:date>\n<dc:type>Thesis (B.A.)</dc:type>\n<dc:identifier>http://hdl.handle.net/10066/1476</dc:identifier>\n\
        <dc:language>en_US</dc:language>\n<dc:rights>http://creativecommons.org/licenses/by-nc/3.0/us/</dc:rights>\n\
        </oai_dc:dc>\n</metadata>\n        </record>\n        <record>\n         \
        \   <header>\n                <identifier>oai:triceratops.brynmawr.edu:10066/17224</identifier>\n\
        \                <datestamp>2016-04-26T15:26:22Z</datestamp>\n           \
        \     <setSpec>com_10066_16697</setSpec>\n                <setSpec>com_10066_7757</setSpec>\n\
        \                <setSpec>com_10066_99</setSpec>\n                <setSpec>com_10066_96</setSpec>\n\
        \                <setSpec>com_10066_97</setSpec>\n                <setSpec>col_10066_16699</setSpec>\n\
        \                <setSpec>col_10066_15698</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>The Bryn Mawr-Haverford\
        \ College News. Vol. 4, No. 1</dc:title>\n<dc:date>2015-11-10T20:27:54Z</dc:date>\n\
        <dc:date>2015-11-10T20:27:54Z</dc:date>\n<dc:date>1971-09-10</dc:date>\n<dc:identifier>http://hdl.handle.net/10066/17224</dc:identifier>\n\
        <dc:language>en_US</dc:language>\n<dc:publisher>Bryn Mawr College ; Haverford\
        \ College</dc:publisher>\n</oai_dc:dc>\n</metadata>\n        </record>\n \
        \       <record>\n            <header>\n                <identifier>oai:triceratops.brynmawr.edu:10066/17225</identifier>\n\
        \                <datestamp>2016-04-26T15:26:23Z</datestamp>\n           \
        \     <setSpec>com_10066_16697</setSpec>\n                <setSpec>com_10066_7757</setSpec>\n\
        \                <setSpec>com_10066_99</setSpec>\n         [...]
