interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://conservancy.umn.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-03-07&until=2016-03-09
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-03-23T09:38:13Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-03-07\" until=\"2016-03-09\">http://conservancy.umn.edu/oai/request</request>\n\
        \    <ListRecords>\n        <record>\n            <header>\n             \
        \   <identifier>oai:conservancy.umn.edu:11299/172480</identifier>\n      \
        \          <datestamp>2016-03-08T20:35:55Z</datestamp>\n                <setSpec>com_11299_1</setSpec>\n\
        \                <setSpec>col_11299_166578</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>A Simple Photogrammetry\
        \ Rig for the Reliable Creation of 3D Artifact Models in the Field: Lithic\
        \ Examples from the Early Upper Paleolithic Sequence of Les Cott\xE9s (France)</dc:title>\n\
        <dc:creator>Porter, Samantha T.</dc:creator>\n<dc:creator>Roussel, Morgan</dc:creator>\n\
        <dc:creator>Soressi, Marie</dc:creator>\n<dc:contributor>Porter, Samantha\
        \ T.</dc:contributor>\n<dc:contributor>port0228@umn.edu</dc:contributor>\n\
        <dc:subject>archaeology</dc:subject>\n<dc:subject>Paleolithic</dc:subject>\n\
        <dc:subject>photogrammetry</dc:subject>\n<dc:subject>3D scanning</dc:subject>\n\
        <dc:subject>France</dc:subject>\n<dc:subject>lithic technology</dc:subject>\n\
        <dc:description>There are three ways to view the 3D models in this data set.\
        \ All models are freely available for download in the form of 3D PDFs. These\
        \ can be opened in Adobe Reader or Adobe Acrobat. We are also making OBJ versions\
        \ of these models available upon request the for educational and research\
        \ purposes. Some models may also be viewed online within a web browser by\
        \ visiting the first author's profile on the website Sketchfab. The URL for\
        \ [...]
