interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://udspace.udel.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2007-10-09T00:00:00Z&until=2007-10-11T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-05-06T13:51:06Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2007-10-09T00:00:00Z\"
        until=\"2007-10-11T00:00:00Z\">http://udspace.udel.edu/dspace-oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:udspace.udel.edu:19716/9</identifier>\n
        \               <datestamp>2007-10-10T15:47:32Z</datestamp>\n                <setSpec>com_19716_7</setSpec>\n
        \               <setSpec>col_19716_8</setSpec>\n            </header>\n            <metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>The
        Development of a Dam Safety Program</dc:title>\n<dc:creator>Kauffman, Gerald
        J.</dc:creator>\n<dc:creator>Bradley, Nigel</dc:creator>\n<dc:subject>dam
        safety</dc:subject>\n<dc:subject>Delaware</dc:subject>\n<dc:description>In
        1996, the President signed Public Law 104-303 that established a National
        Dam Safety&#13;\nProgram Act. The law authorized the Federal Emergency Management
        Agency (FEMA) to&#13;\nprovide funding and technical assistance to states
        willing to \"work toward\" developing a&#13;\nStatewide Dam Safety Program.
        The purpose of the National Dam Safety Program is to reduce&#13;\nthe risk
        of loss of life, economic loss, and property destruction that could result
        from dam&#13;\nemergencies.</dc:description>\n<dc:date>2004-08-17T23:51:09Z</dc:date>\n<dc:date>2004-08-17T23:51:09Z</dc:date>\n<dc:date>2003-04</dc:date>\n<dc:type>Technical
        Report</dc:type>\n<dc:identifier>http://udspace.udel.edu/handle/19716/9</dc:identifier>\n<dc:language>en_US</dc:language>\n<dc:publisher>Institute
        for Public Administration, Water Resources Agency</dc:publisher>\n</oai_dc:dc>\n</metadata>\n
        \       </record>\n        <record>\n            <header>\n                <identifier>oai:udspace.udel.edu:19716/11</identifier>\n
        \               <datestamp>2007-10-10T15:47:39Z</datestamp>\n                <setSpec>com_19716_7</setSpec>\n
        \               <setSpec>col_19716_8</setSpec>\n            </header>\n            <metadata><oai_dc:dc
        xmlns:oai_[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://udspace.udel.edu/dspace-oai/request?verb=ListRecords&resumptionToken=MToxMDB8Mjp8MzoyMDA3LTEwLTA4VDIwOjAwOjAwWnw0OjIwMDctMTAtMTBUMjA6MDA6MDBafDU6b2FpX2Rj
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-05-06T13:51:06Z</responseDate>\n
        \   <request verb=\"ListRecords\" resumptionToken=\"MToxMDB8Mjp8MzoyMDA3LTEwLTA4VDIwOjAwOjAwWnw0OjIwMDctMTAtMTBUMjA6MDA6MDBafDU6b2FpX2Rj\">http://udspace.udel.edu/dspace-oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:udspace.udel.edu:19716/213</identifier>\n
        \               <datestamp>2007-10-10T15:45:30Z</datestamp>\n                <setSpec>com_19716_203</setSpec>\n
        \               <setSpec>col_19716_204</setSpec>\n            </header>\n
        \           <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>A New Generation
        of Iterative Transform Algorithms for Phase Contrast Tomography</dc:title>\n<dc:creator>Bauschke,
        H. H.</dc:crea[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://udspace.udel.edu/dspace-oai/request?verb=ListRecords&resumptionToken=MToyMDB8Mjp8MzoyMDA3LTEwLTA4VDIwOjAwOjAwWnw0OjIwMDctMTAtMTBUMjA6MDA6MDBafDU6b2FpX2Rj
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaL[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://udspace.udel.edu/dspace-oai/request?verb=ListRecords&resumptionToken=MTozMDB8Mjp8MzoyMDA3LTEwLTA4VDIwOjAwOjAwWnw0OjIwMDctMTAtMTBUMjA6MDA6MDBafDU6b2FpX2Rj
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaL[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://udspace.udel.edu/dspace-oai/request?verb=ListRecords&resumptionToken=MTo0MDB8Mjp8MzoyMDA3LTEwLTA4VDIwOjAwOjAwWnw0OjIwMDctMTAtMTBUMjA6MDA6MDBafDU6b2FpX2Rj
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaL[...]
