interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scholarspace.manoa.hawaii.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-03-13T00:00:00Z&until=2016-03-15T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-04-13T17:49:26Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-03-13T00:00:00Z\" until=\"2016-03-15T00:00:00Z\"\
        >https://scholarspace.manoa.hawaii.edu/dspace-oai/request</request><ListRecords><record><header><identifier>oai:scholarspace.manoa.hawaii.edu:10125/4682</identifier><datestamp>2016-03-15T00:53:22Z</datestamp><setSpec>com_10125_4250</setSpec><setSpec>com_10125_4249</setSpec><setSpec>col_10125_7735</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>RB1-004</dc:title>\n\
        <dc:contributor>Blust, Robert</dc:contributor>\n<dc:subject>ssf</dc:subject>\n\
        <dc:subject>Thao</dc:subject>\n<dc:description>Thao. Thao</dc:description>\n\
        <dc:description>Side 1: Thao 16-17.06.1995</dc:description>\n<dc:description>Taiwan</dc:description>\n\
        <dc:date>1995-06-17</dc:date>\n<dc:type>Sound</dc:type>\n<dc:identifier>http://hdl.handle.net/10125/4682</dc:identifier>\n\
        <dc:language>ssf</dc:language>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:scholarspace.manoa.hawaii.edu:10125/39020</identifier><datestamp>2016-03-15T10:58:13Z</datestamp><setSpec>com_10125_4250</setSpec><setSpec>com_10125_4249</setSpec><setSpec>col_10125_38830</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
       [...]
