interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ideals.uiuc.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2014-12-24&until=2014-12-25
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet\
        \ type=\"text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-04-24T09:05:17Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2014-12-24\" until=\"2014-12-25\">http://www.ideals.illinois.edu/dspace-oai/request</request>\n\
        \    <ListRecords>\n        <record>\n            <header>\n             \
        \   <identifier>oai:www.ideals.illinois.edu:2142/18283</identifier>\n    \
        \            <datestamp>2014-12-23T22:11:41Z</datestamp>\n               \
        \ <setSpec>com_2142_5132</setSpec>\n                <setSpec>com_2142_5130</setSpec>\n\
        \                <setSpec>col_2142_8800</setSpec>\n                <setSpec>col_2142_5131</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>The Effects\
        \ of the Project Approach on Children in Inclusive Early Childhood Classrooms</dc:title>\n\
        <dc:contributor>Ostrosky, Michaelene M.</dc:contributor>\n<dc:contributor>Ostrosky,\
        \ Michaelene M.</dc:contributor>\n<dc:contributor>Fowler, Susan A.</dc:contributor>\n\
        <dc:contributor>Santos Gilbertz, Rosa Milagros</dc:contributor>\n<dc:contributor>Katz,\
        \ Lilian G.</dc:contributor>\n<dc:subject>early childhood education</dc:subject>\n\
        <dc:subject>special education</dc:subject>\n<dc:subject>inclusion (education)</dc:subject>\n\
        <dc:subject>coaching</dc:subject>\n<dc:subject>mentors</dc:subject>\n<dc:subject>preschool\
        \ curriculum</dc:subject>\n<dc:subject>early intervention</dc:subject>\n<dc:subject>inclusive\
        \ schools</dc:subject>\n<dc:subject>project based learning</dc:subject>\n\
        <dc:subject>active learning</dc:subject>\n<dc:subject>student projects</dc:subject>\n\
        <dc:description>Research on the impact of the Project Approach on young children\
        \ with disabilities or children who are at-risk is limited. Mixed methods\
        \ were used to study the impact of the Project Approach on the social interactions,\
        \ challenging behaviors, and language development of eight focal children\
        \ in two inclusive classrooms. Child participants were two children with IEPs\
        \ and two children identified as at-risk from each class. Adult participants\
        \ were six professionals who received high quality supports to implement the\
        \ Project Approach. Adults were interviewed prior to the beginning of the\
        \ study and again mid-, and post-implementation. Choice time observations\
        \ were videotaped twice per week over 14 weeks to assess the impact of the\
        \ Project Approach on play levels and MLUm. Results revealed that social interactions,\
        \ challenging behaviors, vocabulary, MLUm, were positively impacted following\
        \ implementation of the Project Approach. Limitations of the study and suggestions\
        \ for research and practice are discussed.</dc:description>\n<dc:date>2011-01-14T22:44:40Z</dc:date>\n\
        <dc:date>2011-01-14T22:44:40Z</dc:date>\n<dc:date>2011-01-14T22:44:40Z</dc:date>\n\
        <dc:date>December 2010</dc:date>\n<dc:identifier>http://hdl.handle.net/2142/18283</dc:identifier>\n\
        <dc:language>en</dc:language>\n<dc:rights>Copyright ?? 2010 Sallee Jean Beneke</dc:rights>\n\
        </oai_dc:dc>\n</metadata>\n        </record>\n        <record>\n         \
        \   <header>\n                <identifier>oai:www.ideals.illinois.edu:2142/22213</identifier>\n\
        \                <datestamp>2014-12-23T22:22:51Z</datestamp>\n           \
        \     <setSpec>com_2142_5132</setSpec>\n                <setSpec>com_2142_5130</setSpec>\n\
        \                <setSpec>col_2142_8800</setSpec>\n                <s[...]
