interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://kuscholarworks.ku.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-02-08T00:00:00Z&until=2016-02-10T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-02-10T19:55:02Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-02-08T00:00:00Z\" until=\"2016-02-10T00:00:00Z\"\
        >https://kuscholarworks.ku.edu/oai/request</request><ListRecords><record><header><identifier>oai:kuscholarworks.ku.edu:1808/19932</identifier><datestamp>2016-02-09T09:01:50Z</datestamp><setSpec>com_1808_774</setSpec><setSpec>col_1808_19778</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Investigating\
        \ a Multimodal Intervention for Children with Limited Expressive Vocabularies\
        \ Associated with Autism</dc:title>\n<dc:creator>Brady, Nancy C.</dc:creator>\n\
        <dc:creator>Storkel, Holly L.</dc:creator>\n<dc:creator>Bushnell, Paige</dc:creator>\n\
        <dc:creator>Barker, R. Michael</dc:creator>\n<dc:creator>Saunders, Kate</dc:creator>\n\
        <dc:creator>Daniels, Debby</dc:creator>\n<dc:creator>Fleming, Kandace</dc:creator>\n\
        <dc:subject>Autism</dc:subject>\n<dc:subject>Intervention</dc:subject>\n<dc:subject>Augmentative\
        \ and alternative communication</dc:subject>\n<dc:subject>Speech</dc:subject>\n\
        <dc:description>This is the author's accepted manuscript. The original is\
        \ available at http://www.asha.org/default.htm</dc:description>\n<dc:description>Purpose:\
        \ To investigate a new intervention package aimed at increasing expressive\
        \ word learning by&#xd;\nschool-age children with autism who have limited\
        \ expressive vocabularies. This pilot investigation was&#xd;\nintended to\
        \ show proof of concept.&#xd;\nMethod: Ten children between the ages of 6-10\
        \ years with educational diagnoses of autism and limited&#xd;\nexpressive\
        \ vocabularies at the outset of the study participated. A multimodal intervention\
        \ composed of&#xd;\nspeech sound practice and AAC was used to teach individualized\
        \ vocabulary words that were selected&#xd;\nbased on initial speech sound\
        \ repertoires and principles of phonotactic probability and neighborhood&#xd;\n\
        density. A multiple-probe design was used to evaluate learning outcomes.&#xd;\n\
        Results: Five children showed gains in spoken- word learning across successive\
        \ word sets (High&#xd;\nResponders). Five children did not meet learning criteria\
        \ (Low Responders). Comparisons of behaviors&#xd;\nmeasured prior to intervention\
        \ indicated that High Responders had relatively higher skills in receptive&#xd;\n\
        language, prelinguistic communication, vocal/verbal imitation, adaptive behavior\
        \ and consonant&#xd;\nproductions.&#xd;\nConclusions: The intervention package\
        \ holds promise for improving spoken word productions for some&#xd;\nchildren\
        \ with autism who have limited expressive vocabularies. Further research is\
        \ needed to better&#xd;\ndescribe who may most benefit from this approach\
        \ as well as investigate generalized benefits to untaught&#xd;\ncontexts and\
        \ targets.</dc:description>\n<dc:date>2016-02-08T21:14:17Z</dc:date>\n<dc:date>2016-02-08T21:14:17Z</dc:date>\n\
        <dc:date>2015</dc:date>\n<dc:type>Article, scholarly/refereed, author accepted\
        \ manuscript</dc:type>\n<dc:identifier>Brady, Nancy C., Holly L. Storkel,\
        \ Paige Bushnell, R. Michael Barker, Kate Saunders, Debby Daniels, and Kandace\
        \ Fleming. \"Investigating a Multimodal Intervention for Children With Limited\
        \ Expressive Vocabularies Associated With Autism.\" American Journal of Speech-Language\
        \ Pathology Am J Speech Lang Pathol 24.3 (2015): 438. http://dx.doi.org/10.1044/2015_AJSLP-14-0093\
        \ &lt;2.897> .</dc:identifier>\n<dc:identifier>http://hdl.handle.net/1808/19932</dc:identifier>\n\
        <dc:relation>doi:10.1044/2015_AJSLP-14-0093 &lt;2.897></dc:relation>\n<dc:publisher>American\
        \ Speech-Language-Hearing Association</dc:publisher>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:kuscholarworks.ku.edu:1808/19931</identifier><datestamp>2016-02-09T09:01:42Z</datestamp><setSpec>com_1808_774</setSpec><setSpec>col_1808_19778</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\[...]
