interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://deepblue.lib.umich.edu/dspace-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-11-11T00:00:00Z&until=2015-11-13T00:00:00Z
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet\
        \ type=\"text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-11-13T14:35:24Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-11-11T00:00:00Z\" until=\"2015-11-13T00:00:00Z\"\
        >http://deepblue.lib.umich.edu/dspace-oai/request</request>\n    <ListRecords>\n\
        \        <record>\n            <header>\n                <identifier>oai:deepblue.lib.umich.edu:2027.42/115888</identifier>\n\
        \                <datestamp>2015-11-11T08:28:22Z</datestamp>\n           \
        \     <setSpec>com_2027.42_13913</setSpec>\n                <setSpec>col_2027.42_49331</setSpec>\n\
        \            </header>\n            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Social Security\
        \ Contributions and Return Migration among Older Male Mexican Immigrants</dc:title>\n\
        <dc:creator>Aguila, Emma</dc:creator>\n<dc:creator>Vega, Alma</dc:creator>\n\
        <dc:contributor>University of Southern California</dc:contributor>\n<dc:contributor>University\
        \ of Pennsylvania</dc:contributor>\n<dc:contributor>Ann Arbor</dc:contributor>\n\
        <dc:subject>Social Security, Mexican, immigration</dc:subject>\n<dc:description>For\
        \ decades scholars have attempted to understand the effects of immigration\
        \ on the U.S. Social Security system. To date, this research has been primarily\
        \ limited to migrants in the U.S. and does not consider those who return to\
        \ their countries of origin. Immigrants often pay OASDI taxes using illegitimate\
        \ Social Security numbers and may return to their home countries without collecting\
        \ U.S. Social Security benefits. In this study[...]
