interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://papyrus.bib.umontreal.ca/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-03-07T00:00:00Z&until=2016-03-09T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-03-09T21:44:11Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-03-07T00:00:00Z\" until=\"2016-03-09T00:00:00Z\"\
        >http://papyrus.bib.umontreal.ca/oai/request</request><ListRecords><record><header><identifier>oai:papyrus.bib.umontreal.ca:1866/13217</identifier><datestamp>2016-03-08T11:30:44Z</datestamp><setSpec>com_1866_2954</setSpec><setSpec>col_1866_12963</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Citation rhetoric\
        \ examined</dc:title>\n<dc:creator>Dobson, Teresa</dc:creator>\n<dc:creator>Lucky,\
        \ Shannon</dc:creator>\n<dc:creator>Ruecker, Stan</dc:creator>\n<dc:creator>Sinatra,\
        \ Michael E.</dc:creator>\n<dc:subject>Circulation des contenus</dc:subject>\n\
        <dc:subject>Th\xE9orie de l'\xE9dition</dc:subject>\n<dc:subject>Bibliography</dc:subject>\n\
        <dc:subject>Rhetoric</dc:subject>\n<dc:subject>MLA</dc:subject>\n<dc:subject>APA</dc:subject>\n\
        <dc:subject>Bibliographie</dc:subject>\n<dc:subject>Rh\xE9torique</dc:subject>\n\
        <dc:subject>Styles bibliographiques</dc:subject>\n<dc:subject>Bibliographic\
        \ styles</dc:subject>\n<dc:description>In his influential monograph \xABThe\
        \ Rhetoric of Citation Systems\xBB, Connors (1999) elaborates on the principle\
        \ that scholars working with different forms of citation find themselves thinking\
        \ differently, since the citation format has natural consequences in the way\
        \ it interacts with the material in the practice of the writer. [...]</dc:description>\n\
        <dc:date>2016-03-07T19:18:56Z</dc:date>\n<dc:date>2016-03-07T19:18:56Z</dc:date>\n\
        <dc:date>2010</dc:date>\n<dc:type>Actes de conf\xE9rence / Conference Proceedings</dc:type>\n\
        <dc:identifier>Dobson, Teresa et al., \xAB\_Citation rhetoric examined\_\xBB\
        , Proceedings of the 2010 Digital Humanities Conference, London : King's College,\
        \ 2010, p.\_7\u201110.</dc:identifier>\n<dc:identifier>978-0-9565793-0-0</dc:identifier>\n\
        <dc:identifier>http://dh2010.cch.kcl.ac.uk/academic-programme/abstracts/papers/html/ab-829.html</dc:identifier>\n\
        <dc:identifier>http://hdl.handle.net/1866/13217</dc:identifier>\n<dc:language>en</dc:language>\n\
        <dc:relation>Proceedings of the Digital Humanities Conference;</dc:relation>\n\
        <dc:publisher>King\u2019s College. Office for Humanities Communication; Centre\
        \ for Computing in the Humanities.</dc:publisher>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:papyrus.bib.umontreal.ca:1866/13222</identifier><datestamp>2016-03-08T11:30:48Z</datestamp><setSpec>com_1866_2954</setSpec><setSpec>col_1866_11371</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\"[...]
