interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://papyrus.bib.umontreal.ca/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2016-03-30T00:00:00Z&until=2016-04-01T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2016-04-01T16:06:55Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2016-03-30T00:00:00Z\" until=\"2016-04-01T00:00:00Z\"\
        >http://papyrus.bib.umontreal.ca/oai/request</request><ListRecords><record><header><identifier>oai:papyrus.bib.umontreal.ca:1866/4388</identifier><datestamp>2016-03-30T14:33:35Z</datestamp><setSpec>com_1866_2620</setSpec><setSpec>com_1866_2957</setSpec><setSpec>col_1866_3000</setSpec><setSpec>col_1866_2621</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Les conditions\
        \ d'une musicalit\xE9 du sonore : \xE9tude comparative sur le statut musical\
        \ du bruit en musique et au cin\xE9ma</dc:title>\n<dc:creator>Harrod, Ariel</dc:creator>\n\
        <dc:contributor>Cardinal, Serge</dc:contributor>\n<dc:subject>Cin\xE9ma</dc:subject>\n\
        <dc:subject>Musique</dc:subject>\n<dc:subject>Son</dc:subject>\n<dc:subject>Conception\
        \ sonore</dc:subject>\n<dc:subject>Musicalit\xE9</dc:subject>\n<dc:subject>Film</dc:subject>\n\
        <dc:subject>Music</dc:subject>\n<dc:subject>Sound</dc:subject>\n<dc:subject>Sound\
        \ design</dc:subject>\n<dc:subject>Musicality</dc:subject>\n<dc:subject>Communications\
        \ and the Arts - Cinema / Communications et les arts - Cin\xE9ma (UMI : 0900)</dc:subject>\n\
        <dc:description>La cr\xE9ation cin\xE9matographique de l\u2019\xE9tudiante\
        \ qui accompagne ce m\xE9moire sous la forme d\u2019un DVD est disponible\
        \ \xE0 la M\xE9diath\xE8que de la Biblioth\xE8que des lettres et sciences\
        \ humaines sous le titre : Qui va droit son chemin.</dc:description>\n<dc:description>Cette\
        \ \xE9tude se d\xE9plie en deux temps. En premier lieu, nous explorons les\
        \ conditions d\u2019\xE9mergence d\u2019une int\xE9gration du \xAB total sonore\
[...]
