interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2
  response:
    body: {string: "{\"pageSize\":\"15\",\"pageRowStart\":\"0\",\"pageNumber\":null,\"\
        recordCount\":196,\"records\":[{\"id\":70168342,\"text\":\"70168342 - 2016\
        \ - Wide-area estimates of evapotranspiration by red gum (<i>Eucalyptus camaldulensis</i>)\
        \ and associated vegetation in the Murray-Darling River Basin, Australia\"\
        ,\"interactions\":[],\"lastModifiedDate\":\"2016-02-10T12:45:38\",\"indexId\"\
        :\"70168342\",\"displayToPublicDate\":\"2016-02-10T13:45\",\"publicationYear\"\
        :\"2016\",\"publicationType\":{\"id\":2,\"text\":\"Article\"},\"publicationSubtype\"\
        :{\"id\":10,\"text\":\"Journal Article\"},\"seriesTitle\":{\"id\":1924,\"\
        text\":\"Hydrological Processes\",\"active\":true,\"publicationSubtype\":{\"\
        id\":10}},\"title\":\"Wide-area estimates of evapotranspiration by red gum\
        \ (<i>Eucalyptus camaldulensis</i>) and associated vegetation in the Murray-Darling\
        \ River Basin, Australia\",\"docAbstract\":\"<p><span>Floodplain red gum forests\
        \ (</span><i>Eucalyptus camaldulensis</i><span>&nbsp;plus associated grasses,\
        \ reeds and sedges) are sites of high biodiversity in otherwise arid regions\
        \ of southeastern Australia. They depend on periodic floods from rivers, but\
        \ dams and diversions have reduced flood frequencies and volumes, leading\
        \ to deterioration of trees and associated biota. There is a need to determine\
        \ their water requirements so envi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=2
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"25\",\"pageNumber\":\"\
        2\",\"recordCount\":196,\"records\":[{\"id\":70164524,\"text\":\"70164524\
        \ - 2016 - Radiometric dating of marine-influenced coal using Re\u2013Os geochronology\"\
        ,\"interactions\":[],\"lastModifiedDate\":\"2016-02-09T13:23:41\",\"indexId\"\
        :\"70164524\",\"displayToPublicDate\":\"2015-12-15T00:00\",\"publicationYear\"\
        :\"2016\",\"publicationType\":{\"id\":2,\"text\":\"Article\"},\"publicationSubtype\"\
        :{\"id\":10,\"text\":\"Journal Article\"},\"seriesTitle\":{\"id\":1427,\"\
        text\":\"Earth and Planetary Science Letters\",\"active\":true,\"publicationSubtype\"\
        :{\"id\":10}},\"title\":\"Radiometric dating of marine-influenced coal using\
        \ Re\u2013Os geochronology\",\"docAbstract\":\"<div class=\\\"abstract svAbstract\
        \ \\\" data-etype=\\\"ab\\\">\\n<p id=\\\"sp0110\\\">Coal deposits are integral\
        \ to understanding the structural evolution and thermal history of sedimentary\
        \ basins and correlating contemporeous estuarine and fluvial delatic strata\
        \ with marine sections. While marine shales may readily lend themselves to\
        \ Re&ndash;Os dating due to the dominance of hydrogenous Re and Os, the lack\
        \ of a chronometer for near-shore sedimentary environments hampers basinwide\
        \ correlations in absolute time. Here, we employ the Re&ndash;Os geochronometer,\
        \ along with total organic carbon (TOC) and Rock&ndash;Eval data, to determine\
        \ the timing and conditions of a marine incursion at the top of the Matewan\
        \ coal bed, Kanawha Formation, Pottsville Group, West Virginia, USA. The observed\
        \ range for hydrogen index (HI: 267&ndash;290 mg hydrocarbon/gram total organic\
        \ carbon) for these coal samples suggests dominance of aliphatic hydrocarbons\
        \ with low carbon (&lt;C<sub>19</sub>) chain length. Average Re (<span id=\\\
        \"mmlsi1\\\" class=\\\"mathmlsrc\\\"><span class=\\\"formulatext stixSupport\
        \ mathImg\\\" title=\\\"Click to view the MathML source\\\" data-mathurl=\\\
        \"/science?_ob=MathURL&amp;_method=retrieve&amp;_eid=1-s2.0-S0012821X15006056&amp;_mathId=si1.gif&amp;_user=111111111&amp;_pii=S0012821X15006056&amp;_rdoc=1&amp;_issn=0012821X&amp;md5=bc2944291302252512cfdefae42b865b\\\
        \">107.6&plusmn;16.4&nbsp;ng/g</span></span>[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=3
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"50\",\"pageNumber\":\"\
        3\",\"recordCount\":196,\"records\":[{\"id\":70164523,\"text\":\"70164523\
        \ - 2015 - Re\u2013Os age for the Lower\u2013Middle Pennsylvanian Boundary\
        \ and comparison with associated palynoflora\",\"interactions\":[],\"lastModifiedDate\"\
        :\"2016-02-09T13:36:42\",\"indexId\":\"70164523\",\"displayToPublicDate\"\
        :\"2015-02-15T00:00\",\"publicationYear\":\"2015\",\"publicationType\":{\"\
        id\":2,\"text\":\"Article\"},\"publicationSubtype\":{\"id\":10,\"text\":\"\
        Journal Article\"},\"seriesTitle\":{\"id\":2033,\"text\":\"International Journal\
        \ of Coal Geology\",\"active\":true,\"publicationSubtype\":{\"id\":10}},\"\
        title\":\"Re\u2013Os age for the Lower\u2013Middle Pennsylvanian Boundary\
        \ and comparison with associated palynoflora\",\"docAbstract\":\"<div class=\\\
        \"abstract svAbstract \\\" da[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=4
  response:
    body: {string: !!python/unicode '{"pageSize":"25","pageRowStart":"75","pageNumber":"4","recordCount":196,"records":[{"id":39808,"text":"wri014175
        - 2001 - Water-quality assessment of the eastern Iowa basins- nitrogen, phosphorus,
        suspended sediment, and organic carbon in surface water, 1996-98","interactions":[],"lastModifiedDate":"2016-02-08T09:34:47","indexId":"wri014175","displayToPublicDate":"2002-09-01T00:00","publicationYear":"2001","publicationType":{"id":18,"text":"Report"},"publicationSubtype":{"id":5,"text":"USGS
        Numbered Series"},"seriesTitle":{"id":342,"text":"Water-Resources Investigations
        Report","code":"WRI","active":false,"publicationSubtype":{"id":5}},"seriesNumber":"2001-4175","title":"Water-quality
        assessment of the eastern Iowa basins- nitrogen, phosphorus, suspended sediment,
        and organic carbon in surface water, 1996-98","docAbstract":"<p>Twelve sites
        on streams and rivers in the Eastern Iowa Basins study unit were sampled monthly
        and during selected storm events from March 1996 through September 1998 to
        assess the occurrence, distribution, and transport of nitrogen, phosphorus,
        suspended sediment, and org[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pubs.er.usgs.gov/pubs-services/publication?mod_x_days=2&page_number=5
  response:
    body: {string: "{\"pageSize\":\"25\",\"pageRowStart\":\"100\",\"pageNumber\":\"\
        5\",\"recordCount\":196,\"records\":[{\"id\":21763,\"text\":\"ofr00204 - 2000\
        \ - Effects of animal feeding operations on water resources and the environment;\
        \ proceedings of the technical meeting, Fort Collins, Colorado, August 30-September\
        \ 1, 1999\",\"interactions\":[],\"lastModifiedDate\":\"2016-02-10T15:14:38\"\
        ,\"indexId\":\"ofr00204\",\"displayToPublicDate\":\"2000-12-01T00:00\",\"\
        publicationYear\":\"2000\",\"publicationType\":{\"id\":18,\"text\":\"Report\"\
        },\"publicationSubtype\":{\"id\":5,\"text\":\"USGS Numbered Series\"},\"seriesTitle\"\
        :{\"id\":330,\"text\":\"Open-File Report\",\"code\":\"OFR\",\"onlineIssn\"\
        :\"2331-1258\",\"printIssn\":\"0196-1497\",\"active\":true,\"publicationSubtype\"\
        :{\"id\":5}},\"seriesNumber\":\"2000-204\",\"title\":\"Effects of animal feeding\
        \ operations on water resources and the environment; proceedings of the technical\
        \ meeting, Fort Collins, Colorado, August 30-September 1, 1999\",\"docAbstract\"\
        :\"<p>No abstract available.</p>\",\"language\":\"English\",\"publisher\"\
        :\"U.S. Geological Survey\",\"publisherLocation\":\"Reston, VA\",\"issn\"\
        :\"0566-8174\",\"usgsCitation\":\"Effects of animal feeding operations on\
        \ water resources and the environment; proceedings of the technical meeting,\
        \ Fort Collins, Colorado, August 30-September 1, 1999; 2000; OFR; 2000-204;\
        \ Wilde, Franceska D.; Britton, L. J.; Miller, C. V.; Kolpin, D. W.\",\"productDescription\"\
        :\"iii, 107 p. ; 28 cm.\",\"onlineOnly\":\"N\",\"additionalOnlineFiles\":\"\
        N\",\"costCenters\":[{\"id\":192,\"text\":\"Columbia Environmental Research\
        \ Center\"},{\"id\":351,\"text\":\"Iowa Water Science Center\"}],\"links\"\
        :[{\"id\":154713,\"rank\":0,\"type\":{\"id\":24,\"text\":\"Thumbnail\"},\"\
        url\":\"http://pubs.er.usgs.gov/thumbnails/usgs_thumb.jpg\"},{\"id\":1194,\"\
        rank\":100,\"type\":{\"id\":15,\"text\":\"Index Page\"},\"url\":\"http://pubs.water.usgs.gov/ofr00-204\"\
        ,\"linkFileType\":{\"id\":5,\"text\":\"html\"}}],\"contributors\":{\"authors\"\
        :[{\"text\":\"Wilde, Franceska D.\",\"contributorId\":92240,\"corporation\"\
        :false,\"usgs\":true,\"family\":\"Wilde\",\"given\":\"Franceska D.\",\"id\"\
        :185586,\"contributorType\":{\"id\":1,\"text\":\"Authors\"},\"rank\":1},{\"\
        text\":\"Britton, L.J.\",\"contributorId\":39788,\"corporation\":false,\"\
        usgs\":true,\"family\":\"Britton\",\"given\":\"L.J.\",\"id\":185583,\"contributorType\"\
        :{\"id\":1,\"text\":\"Authors\"},\"rank\":2},{\"text\":\"Miller, C.V.\",\"\
        contributorId\":41026,\"corporation\":false,\"usgs\":true,\"family\":\"Miller\"\
        ,\"given\":\"C.V.\",\"id\":185584,\"contributorType\":{\"id\":1,\"text\":\"\
        Authors\"},\"rank\":3},{\"text\":\"Kolpin, D.W.\",\"contributorId\":87565,\"\
        corporation\":false,\"usgs\":true,\"family\":\"Kolpin\",\"given\":\"D.W.\"\
        ,\"id\":185585,\"contributorType\":{\"id\":1,\"text\":\"Authors\"},\"rank\"\
        :4}]}},{\"id\":22266,\"text\":\"ofr0067 - 2000 - Water-quality assessment\
        \ of the Eastern Iowa Basins: hydrologic and biologic data, October 1996 through\
        \ September 1998\",\"interactions\":[],\"lastModifiedDate\":\"2016-02-08T16:10:04\"\
        ,\"indexId\":\"ofr0067\",\"displayToPublicDate\":\"2000-11-01T00:00\",\"publicationYear\"\
        :\"2000\",\"publicationType\":{\"id\":18,\"text\":\"Report\"},\"publicationSubtype\"\
        :{\"id\":5,\"text\":\"USGS Numbered Series\"},\"seriesTitle\":{\"id\":330,\"\
        text\":\"Open-File Report\",\"code\":\"OFR\",\"onlineIssn\":\"2331-1258\"\
        ,\"printIssn\":\"0196-1497\",\"active\":true,\"publicationSubtype\":{\"id\"\
        :5}},\"seriesNumber\":\"2000-67\",\"title\":\"Water-quality assessment of\
        \ the Eastern Iowa Basins: hydrologic and biologic data, October 1996 through\
        \ September 1998\",\"docAbstract\":\"<p>Hydrologic and biologic data collected\
        \ from October 1996 through September 1998 in the Eastern Iowa Basins study\
        \ unit of the U.S. Geological Survey National Wat[...]
