interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repositories.lib.utexas.edu/utexas-oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-09-29&until=2015-10-01
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"text/xsl\"
        href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"><responseDate>2015-11-12T08:33:42Z</responseDate>\n
        \   <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\" from=\"2015-09-29\"
        until=\"2015-10-01\">https://repositories.lib.utexas.edu/utexas-oai/request</request>\n
        \   <ListRecords>\n        <record>\n            <header>\n                <identifier>oai:repositories.lib.utexas.edu:2152/31430</identifier>\n
        \               <datestamp>2015-09-29T15:27:14Z</datestamp>\n                <setSpec>com_2152_4</setSpec>\n
        \               <setSpec>col_2152_11</setSpec>\n            </header>\n            <metadata><oai_dc:dc
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"http://www.lyncode.com/xoai\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>In
        different voices : form, identity, and the twentieth-century American persona
        poem</dc:title>\n<dc:creator>Frye, Elizabeth Bradford</dc:creator>\n<dc:contributor>Bremen,
        Brian A.</dc:contributor>\n<dc:contributor>Bennett, Chad</dc:contributor>\n<dc:contributor>Kevorkian,
        Martin W</dc:contributor>\n<dc:contributor>Lesser, Wayne</dc:contributor>\n<dc:contributor>Wheeler,
        Lesley</dc:contributor>\n<dc:subject>American poetry</dc:subject>\n<dc:subject>Persona</dc:subject>\n<dc:subject>Persona
        poetry</dc:subject>\n<dc:subject>Dramatic poetry</dc:subject>\n<dc:subject>Twentieth-century
        American poetry</dc:subject>\n<dc:subject>Langston Hughes</dc:subject>\n<dc:subject>Gwendolyn
        Brooks</dc:subject>\n<dc:subject>John Berryman</dc:subject>\n<dc:subject>Robert
        Hayden</dc:subject>\n<dc:subject>Robert Lowell</dc:subject>\n<dc:subject>Sylvia
        Plath</dc:subject>\n<dc:subject>Natasha Trethewey</dc:subject>\n<dc:subject>Elizabeth
        Alexander</dc:subject>\n<dc:subject>Paul Laurence Dunbar</dc:subject>\n<dc:description>In
        arguing for the persona poem as a viable tradition in American literature,
        Elizabeth Frye reconstructs a lineage of dramatic poetry that spans the entire
        twentieth century. Through comparative studies of canonical poets predominately
        working in the aftermath of high modernism, she examines several significant
        performances and contends that the genre persists as a site of necessary and
        complicated cross-identifications. Chapter One elucidates the[...]
