interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A++%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+++%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A%0A+++++++++++++++++++++++SELECT+%28COUNT%28%2A%29+AS+%3Ftotal%29%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Fs+vivo%3AdateTimeValue+%3FdateURI+.%0A++++++++++++++++++++++++++++%3FdateURI+vivo%3AdateTime+%3Fdate+.%0A++++++++++++++++++++++++++++FILTER+%28strdt%28%3Fdate%2C+xsd%3Adate%29+%3E%3D+%222015-10-13%22%5E%5Exsd%3Adate+%26%26+strdt%28%3Fdate%2C+xsd%3Adate%29+%3C%3D+%222015-10-15%22%5E%5Exsd%3Adate%29%0A++++++++++++++++++++++++%7D%0A++++++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"total\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"total\"\
        : { \"datatype\": \"http://www.w3.org/2001/XMLSchema#integer\" , \"type\"\
        : \"typed-literal\" , \"value\": \"3\" }\n      }\n    ]\n  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A++++++++++++++++++++++++PREFIX+vivo%3A++%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A++++++++++++++++++++++++PREFIX+xsd%3A+++%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A%0A++++++++++++++++++++++++SELECT+%3Furi%0A++++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Furi+vivo%3AdateTimeValue+%3FdateUri+.%0A++++++++++++++++++++++++++++%3FdateUri+vivo%3AdateTime+%3Fdate+.%0A++++++++++++++++++++++++++++FILTER+%28strdt%28%3Fdate%2C+xsd%3Adate%29+%3E%3D+%222015-10-13%22%5E%5Exsd%3Adate+%26%26+strdt%28%3Fdate%2C+xsd%3Adate%29+%3C%3D+%222015-10-15%22%5E%5Exsd%3Adate%29%0A++++++++++++++++++++++++%7D++LIMIT+1000+OFFSET+0%0A++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"uri\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"uri\": {\
        \ \"type\": \"uri\" , \"value\": \"http://vivo.ufl.edu/individual/n6246534820\"\
        \ }\n      } ,\n      {\n        \"uri\": { \"type\": \"uri\" , \"value\"\
        : \"http://vivo.ufl.edu/individual/n9820692594\" }\n      } ,\n      {\n \
        \       \"uri\": { \"type\": \"uri\" , \"value\": \"http://vivo.ufl.edu/individual/n2136798515\"\
        \ }\n      }\n    ]\n  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fdoi%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+bibo%3Adoi+%3Fdoi+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"doi\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"doi\": {\
        \ \"type\": \"literal\" , \"value\": \"10.1016/j.tourman.2015.01.031\" }\n\
        \      }\n    ]\n  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fissn%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Fjournal+vivo%3ApublicationVenueFor+%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+%3B%0A+++++++++++++++++++++++++++++++bibo%3Aissn+%3Fissn+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"issn\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"issn\":\
        \ { \"type\": \"literal\" , \"value\": \"0261-5177\" }\n      }\n    ]\n \
        \ }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fdate%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E++vivo%3AdateTimeValue+%3FdateURI+.%0A++++++++++++++++++++++%3FdateURI+vivo%3AdateTime+%3Fdate+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"date\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"date\":\
        \ { \"type\": \"literal\" , \"value\": \"2015-10-13\" }\n      }\n    ]\n\
        \  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fnumber%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+bibo%3Anumber+%3Fnumber+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"number\"\
        \ ]\n  } ,\n  \"results\": {\n    \"bindings\": [\n      \n    ]\n  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fpmid%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+bibo%3Apmid+%3Fpmid+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"pmid\" ]\n\
        \  } ,\n  \"results\": {\n    \"bindings\": [\n      {\n        \"pmid\":\
        \ { \"type\": \"literal\" , \"value\": \"25904163\" }\n      }\n    ]\n  }\n\
        }\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fabstract%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+bibo%3Aabstract+%3Fabstract+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: "{\n  \"head\": {\n    \"vars\": [ \"abstract\" ]\n  } ,\n  \"\
        results\": {\n    \"bindings\": [\n      {\n        \"abstract\": { \"type\"\
        : \"literal\" , \"value\": \"Prohibitins (PHBs) are a highly conserved class\
        \ of proteins first discovered as inhibitors of cellular proliferation. Since\
        \ then PHBs have been found to have a significant role in transcription, nuclear\
        \ signaling, mitochondrial structural integrity, cell division, and cellular\
        \ membrane metabolism, placing these proteins among the key regulators of\
        \ pathologies such as cancer, neuromuscular degeneration, and other metabolic\
        \ diseases. The human genome encodes two PHB proteins, prohibitin 1 (PHB1)\
        \ and prohibitin 2 (PHB2), which function not only as a heterodimeric complex,\
        \ but also independently. While many previous reviews have focused on the\
        \ better characterized prohibitin, PHB1, this review focuses on PHB2 and new\
        \ data concerning its cellular functions both in complex with PHB1 and independent\
        \ of PHB1. \xA9 2015 IUBMB Life, 67(4):239-254, 2015.\" }\n      }\n    ]\n\
        \  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++++++++++++++PREFIX+foaf%3A+%3Chttp%3A//xmlns.com/foaf/0.1/%3E%0A+++++++++++++++++++++++PREFIX+vitro%3A+%3Chttp%3A//vitro.mannlib.cornell.edu/ns/vitro/0.7%23%3E%0A+++++++++++++++++++++++PREFIX+dc%3A+%3Chttp%3A//purl.org/dc/terms/%3E%0A+++++++++++++++++++++++PREFIX+vcard%3A+%3Chttp%3A//www.w3.org/2006/vcard/ns%23%3E%0A+++++++++++++++++++++++PREFIX+obo%3A+%3Chttp%3A//purl.obolibrary.org/obo/%3E%0A%0A+++++++++++++++++++++++SELECT+%3Fkeyword%0A+++++++++++++++++++++++%7B%0A++++++++++++++++++++++++++++%3Chttp%3A//vivo.ufl.edu/individual/n6246534820%3E+vivo%3AfreetextKeyword+%3Fkeyword+.%0A++++++++++++++++++++++++%7D%0A+++++++++++++++++++++&password=fakepassword&email=fake_user%40ufl.edu
  response:
    body: {string: !!python/unicode "{\n  \"head\": {\n    \"vars\": [ \"keyword\"\
        \ ]\n  } ,\n  \"results\": {\n    \"bindings\": [\n      \n    ]\n  }\n}\n"}
    headers:
      content-type: [application/sparql-results+json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://dev.vivo.ufl.edu/vivo/api/sparqlQuery?format=json&results=json&output=json&query=%0A+++++++++++++++++++++++PREFIX+vivo%3A+%3Chttp%3A//vivoweb.org/ontology/core%23%3E%0A+++++++++++++++++++++++PREFIX+xsd%3A+%3Chttp%3A//www.w3.org/2001/XMLSchema%23%3E%0A+++++++++++++++++++++++PREFIX+rdfs%3A+%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0A+++++++++++++++++++++++PREFIX+bibo%3A+%3Chttp%3A//purl.org/ontology/bibo/%3E%0A+++++++++++[...]
[...]
