interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://vtechworks.lib.vt.edu/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2014-12-24&until=2014-12-25
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet\
        \ type=\"text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-04-24T10:05:26Z</responseDate>\n    <request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2014-12-24\" until=\"2014-12-25\">https://vtechworks.lib.vt.edu/oai/request</request>\n\
        \    <ListRecords>\n        <record>\n            <header>\n             \
        \   <identifier>oai:vtechworks.lib.vt.edu:10919/51158</identifier>\n     \
        \           <datestamp>2014-12-24T09:00:07Z</datestamp>\n                <setSpec>com_10919_5534</setSpec>\n\
        \                <setSpec>col_10919_9291</setSpec>\n            </header>\n\
        \            <metadata><oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"\
        \ xmlns:doc=\"http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Retention of\
        \ underrepresented groups in corporate agribusinesses: Assessing the intentions\
        \ of underrepresented groups to remain working for corporate agribusinesses</dc:title>\n\
        <dc:creator>Wright, Brielle Simone</dc:creator>\n<dc:contributor>Agricultural\
        \ and Extension Education</dc:contributor>\n<dc:contributor>Friedel, Curtis\
        \ Robert</dc:contributor>\n<dc:contributor>Faulkner, Paula E.</dc:contributor>\n\
        <dc:contributor>Anderson, James C.</dc:contributor>\n<dc:subject>Agribusiness</dc:subject>\n\
        <dc:subject>Diversity</dc:subject>\n<dc:subject>Recruitment</dc:subject>\n\
        <dc:subject>Retention</dc:subject>\n<dc:subject>Underrepresented Groups</dc:subject>\n\
        <dc:description>It is projected that the majority population will become the\
        \ minority population by 2050. In order to serve the needs of an ethnically\
        \ diverse U.S. population, corporate agribusinesses are encouraged to employ\
        \ an ethnically diverse workforce. The purpose of this research was to understand\
        \ how attitudes, subjective norms, and perceived behavioral control in the\
        \ workplace affects the intent of underrepresented groups to remain in working\
    [...]
