interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://research.wsulibs.wsu.edu:8080/oai/request?verb=ListRecords&metadataPrefix=oai_dc&from=2015-12-14T00:00:00Z&until=2015-12-16T00:00:00Z
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><?xml-stylesheet type=\"\
        text/xsl\" href=\"static/style.xsl\"?><OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"\
        http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\"\
        ><responseDate>2015-12-16T21:10:16Z</responseDate><request verb=\"ListRecords\"\
        \ metadataPrefix=\"oai_dc\" from=\"2015-12-14T00:00:00Z\" until=\"2015-12-16T00:00:00Z\"\
        >http://research.wsulibs.wsu.edu:8080/oai/request</request><ListRecords><record><header><identifier>oai:research.libraries.wsu.edu:2376/5730</identifier><datestamp>2015-12-14T00:26:20Z</datestamp><setSpec>com_2376_5655</setSpec><setSpec>com_2376_606</setSpec><setSpec>col_2376_5729</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/\
        \ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n<dc:title>Malosi: An\
        \ Exploration of the Mead/Freeman Controversy and of Samoan Aggression</dc:title>\n\
        <dc:creator>Mageo, Jeannette Marie</dc:creator>\n<dc:subject>Samoa</dc:subject>\n\
        <dc:subject>Psychological anthropology</dc:subject>\n<dc:subject>Aggressiveness--Social\
        \ aspects</dc:subject>\n<dc:description>This article's intent is to take a\
        \ step toward clarifying the nature and the place of aggression in Samoan\
        \ social life. Aggression has always had a focal place in Samoan culture.\
        \ In pre-Christian times, Nafanua was the only divinity who was worshiped\
        \ throughout the Samoan islands (Stair 1897:220). Nafanua was a war goddess.</dc:description>\n\
        <dc:date>2015-12-14T00:25:31Z</dc:date>\n<dc:date>2015-12-14T00:25:31Z</dc:date>\n\
        <dc:date>1988</dc:date>\n<dc:type>Article</dc:type>\n<dc:identifier>Mageo,\
        \ Jeannette Marie. \u201CMalosi: An Exploration of the Mead/Freeman Controversy\
        \ and of Samoan Aggression.\u201D (1988). Pacific Studies 11(2):25-65.</dc:identifier>\n\
        <dc:identifier>http://hdl.handle.net/2376/5730</dc:identifier>\n<dc:language>en_US</dc:language>\n\
        <dc:publisher>Pacific Studies</dc:publisher>\n</oai_dc:dc>\n</metadata></record><record><header><identifier>oai:research.libraries.wsu.edu:2376/5731</identifier><datestamp>2015-12-14T00:35:35Z</datestamp><setSpec>com_2376_5655</setSpec><setSpec>com_2376_606</setSpec><setSpec>col_2376_5729</setSpec></header><metadata><oai_dc:dc\
        \ xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:doc=\"\
        http://www.lyncode.com/xoai\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
    [...]
