[run]
omit =
    scrapi/settings/*
    scripts/*
    scrapi/harvesters/stepic.py

[report]
exclude_lines =
    pragma: no cover

    raise NotImplementedError

omit =
    scrapi/settings/*
    scripts/*
    scrapi/harvesters/stepic.py
