@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,400,600");
* {
margin: 0;
padding: 0;
}

html, body{
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: #353535;
	background: url('../images/books_bg.jpg');
	background-attachment: fixed;
	height: 100%;
}

h1{
	font-weight: 200;
	font-size: 72px;
	margin-top: 100px;
	margin-bottom: 75px;
}

strong, h2{
	color:#39d395;
	margin-bottom: 15px;
}

#no-results{
	background-color:#353535;
	padding: 10px;
	margin: 10px;
	display: none;
}

.attribution{
	color: white;
}

.attribution a{
	color: white;
}

#searchControls{
	width: 100%;
	text-align: center;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

#title-box{
	margin-right: auto;
	margin-left: auto;
	padding-top:10px;
	width:70%;
}

form {
	width:75%;
	margin:25px auto;
}

.search-query {
    padding:8px;
    width: 500px;
    height: 50px;
    border:0px solid #fff;
}
input[type="text"]{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 40px;
}

button[type="submit"]{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.navigation-controls{
    text-align: center;
}

.btn {
	vertical-align: top;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border:2px solid #fff;
    background-color:#39d395;
    color:#fafafa;
    height: 66px;
    opacity: 0.90;
    transition: opacity .1s ease-in-out, background .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out, background .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out, background .1s ease-in-out;
}

.btn:hover  {
	border:2px solid #39d395;
    background-color:#fafafa;
    color:#39d395;
    opacity: 1;
}

.search-results{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
    text-align: left;
}

.borderObject{
	background-color: red;
}

.jsonObject{
	border-style: solid;
	border-width: 1px;
	background-color:#353535;
	opacity: 0.80;
	text-align: left;
	padding: 20px;
	margin: 10px 10px 40px;
	transition: opacity .10s ease-in-out;
    -moz-transition: opacity .10s ease-in-out;
    -webkit-transition: opacity .10s ease-in-out;
}

.jsonObject:hover {
	opacity: 1;
}

.expand{
	margin-top:10px;
	color:#636363;
	text-align: center;
	t-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
  	transition:.1s;
}

.expand p{
	margin-right: auto;
	margin-left: auto;
}

.expand:hover{
    color: #39d395;
    cursor: pointer; 
    cursor: hand;
}

.additional-content{
  height:auto;
  min-height:100px;
  overflow:hidden;
}

.collapsed .additional-content{
  min-height:0px;
  height:0px;
}

.buffer{
	height: 400px;
}

footer, .push {
	height: 40px;
	font-size: 20px;
	width: auto;
	background-color: red;
}

a {
    color: white;
}
