<!DOCTYPE html>
<html>
    <head>
        <title>SHared Access Resource Ecosystem</title>
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        {% for doc in results %}
            {% if doc.get('title') %}
                <h4> {{ doc.get('title') }} </h4>
            {% endif %}
            {% if doc.get('contributors') %}
                {% for contributor in doc.get('contributors') %}
                    {{ contributor['full_name'] }}, 
                {% endfor %}
                <br/>
            {% endif %}
            <ul>
            {% for property in doc.get('properties').keys() %}
                <li>{{ property }} : {{ doc.get('properties').get(property) }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </body>

</html>
